@using PRS_System.Controllers
@model PRS_System.Models.FormModel.FormPRSModel
@{
    Layout = "_BlankLayout";
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="th">
<!--<![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/normalize.css">

    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/ui_form.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
</head>

<body>

    <!-- MAIN -->
    <div class="main-content">
        <div class="fluid-container">
            <div>
                <!-- Form -->
                <div class="page-section" id="form">
                    <div class="row">
                        <div class="w3-container w3-pale-blue w3-hover-text-teal">
                            <h1>FORM</h1>
                            <h2>สำหรับผู้ทำงานขอจัดซื้อ</h2>
                            <div align="right">
                                <button class="button button5" onclick="history.back()">Back</button>
                            </div>
                        </div>
                    </div>
                    <div class="w3-container w3-light-grey">
                        <form id="createform" asp-controller="FormPRS" asp-action="AddDataProcurement" enctype="multipart/form-data" method="post" onsubmit="AJAXSubmit(this); return false;" class="w3-container w3-sand">
                            <!-- form_ผู้จัดซื้อ -->
                            <fieldset class="col-md-4 col-sm-8">
                                <p>ประเภทเอกสาร</p>
                                <input type="radio" asp-for="type_PRS" value="ขอซื้อ" />
                                <label>ขอซื้อ</label>
                                <input type="radio" asp-for="type_PRS" value="ขอจ้าง" />
                                <label>ขอจ้าง</label>
                                <p>รหัสสำหรับห้องปฏิบัติการวิทยาศาสตร์</p>
                                <input class="w3-input w3-border w3-round" type="text" asp-for="idRoom" placeholder="Ex. LAB 001-001-65009" size="50" required>

                                <p>ชื่อเรื่องที่จะทำการจัดซื้อหรือจ้าง</p>
                                <input class="w3-input w3-border w3-round" type="text" asp-for="nameProcument" placeholder="Ex.ขอให้จัดซื้ออุปกรณ์" size="50" required>

                                <p>คำอธิบายและเหตุผลถึงการจัดซื้อหรือจ้าง</p>
                                <textarea class="w3-input w3-border w3-round" asp-for="description_1" cols="50" rows="6"
                                          placeholder="คำอธิบาย"></textarea>
                            </fieldset>
                            <hr>
                            <fieldset class="col-md-4 col-sm-8">
                                <b>เหตุผลในการสนับสนุน</b><br><br>

                                <input type="checkbox" id="Subjectcheck" value="เพื่อใช้ในการสนับสนุนรายวิชา">
                                <label>เพื่อใช้ในการสนับสนุนรายวิชา</label>
                                <br>

                                <div class="container1">
                                    <button id="addsubject" class="add_form_field" type="button">
                                        Add &nbsp;
                                        <span style="font-size:16px; font-weight:bold;">+ </span>
                                    </button>
                                    <div>
                                        <input type="text" asp-for="IndexSubdelete" value="@Model.IndexSubdelete" style="display:none" readonly>
                                        @{int countsubject = Model.Subjectdata != null ? Model.Subjectdata.Count : 0;}
                                        @for (int i = 0; i < countsubject; i++)
                                        {
                                            var item = Model.Subjectdata.ToList()[i];
                                            <div id="fieldsubject@(i)">
                                                <input type="number" id="Subjectdata[@i].Id_Subject" name="Subjectdata[@i].Id_Subject" value="@item.Id_Subject" style="display:none" placeholder="รหัสวิชา" required>
                                                <input type="text" id="Subjectdata[@i].Subject" name="Subjectdata[@i].Subject" value="@item.Subject" placeholder="รหัสวิชา" required>
                                                <input type="text" id="Subjectdata[@i].status" Name="Subjectdata[@i].status" value="@item.status" style="display:none" readonly>
                                                @if (i > 0)
                                                {
                                                    <button type="button" id="buttonsub@(i)" class="delete" onclick="deletesubjectfield(@i,'Subjectdata[@i].status','Subjectdata[@i].Id_Subject')">Delete</button>
                                                }
                                            </div>

                                        }

                                    </div>
                                </div>
                                <!--ไว้สำหรับการเก็บ idtor เพื่อส่งไปให้แต่ละ Action-->
                                <input asp-for="id_tor" style="display:none" />

                                <input id="checkBox2"  type="checkbox">
                                <label>เพื่อใช้ในการสนับสนุน</label><br>
                                <input type="radio" asp-for="type_assitst" value="โครงการ">
                                <label>โครงการ</label>

                                <input type="radio" asp-for="type_assitst" value="โครงงาน">
                                <label>โครงงาน</label>
                                <input type="radio" asp-for="type_assitst" value="ปัญหาพิเศษ">
                                <label>ปัญหาพิเศษ</label><br>
                                <label>เรื่อง</label>
                                <input class="w3-input w3-border w3-round" type="text" asp-for="detail_assist" placeholder="เรื่อง"><br>

                                <input type="radio" asp-for="supportType" value="ได้รับสนับสนุนจาก">
                                <label>ได้รับสนับสนุนจาก</label>
                                <input class="w3-input w3-border w3-round" type="text" asp-for="desc_assist1" placeholder="ได้รับทุนสนับสนุนจาก"><br>
                                <input type="radio" asp-for="supportType" value="ไม่ได้รับแหล่งเงินทุนสนับสนุนใดๆ">
                                <label>ไม่ได้รับแหล่งเงินทุนสนับสนุนใดๆ</label><br>
                                <input type="radio" asp-for="supportType" value="เหตุผลอื่นๆ">
                                <label>เหตุผลอื่นๆ</label>
                                <input class="w3-input w3-border w3-round" type="text" asp-for="desc_assist2" placeholder="เหตุผลอื่นๆ">
                            </fieldset>
                            <hr>

                            <fieldset class="col-md-4 col-sm-6">
                                
                                <input type="text" asp-for="IndexProDelete" value="@Model.IndexProDelete" style="display:none" readonly>
                                <div class="container2">
                                    <b>รายการสินค้า</b><br>
                                    <button id="addproduct" class="add_form_object" type="button">
                                        Add &nbsp;
                                        <span style="font-size:16px; font-weight:bold;">+ </span>
                                    </button>
                                    @{int countproduct = Model.Productdata != null ? Model.Productdata.Count : 0;}
                                    @for (int i = 0; i < countproduct; i++)
                                    {

                                        var item = Model.Productdata.ToList()[i];
                                        <div id="field@(i)">

                                            <label>ชื่อสินค้า</label>
                                            <input type="text" id="Productdata[@i].NameProduct" Name="Productdata[@i].NameProduct" value="@item.NameProduct" placeholder="บิ๊กเกอร์ 50 มล." required>

                                            <label>จำนวนสินค้า</label>
                                            <input type="number" id="Productdata[@i].AmtProduct" Name="Productdata[@i].AmtProduct" value="@item.AmtProduct" placeholder="99" onkeypress="check_amt()" onkeyup="check_amt()" step="0.01" required>

                                            <label>หน่วยสินค้า</label>
                                            <input type="text" id="Productdata[@i].Unit" Name="Productdata[@i].Unit" value="@item.Unit" placeholder="อัน" required>

                                            <label>ราคาต่อหน่วย</label>

                                            <input type="number" id="Productdata[@i].Price_Per_Piece" value="@item.Price_Per_Piece" onkeypress="sumproductprice()" onkeyup="sumproductprice()" Name="Productdata[@i].Price_Per_Piece" placeholder="100" step="0.01" required />
                                            <input type="text" id="Productdata[@i].status" Name="Productdata[@i].status" value="@item.status" style="display:none" readonly>
                                            <input type="number" id="Productdata[@i].Id_Product" Name="Productdata[@i].Id_Product" value="@item.Id_Product" style="display:none" readonly>
                                            @if (i > 0)
                                            {
                                                <button type="button" id="buttonproduct@(i)" class="delete" onclick="deleteproductfield(@i,'Productdata[@i].status','Productdata[@(i)].Id_Product')">Delete</button>
                                            }
                                        </div>
                                    }

                                </div>
                                <div>
                                    <label>ภาษีมูลค่าเพิ่ม7%</label>
                                    <input asp-for="vaxproduct" type="number" style="background-color:white" step="0.01" disabled />
                                    <label>มูลค่ารวมทั้งสิ้น</label>
                                    <input asp-for="sumproduct" type="number" style="background-color:white" step="0.01" disabled />
                                </div>
                            </fieldset>
                            <hr>

                            <fieldset class="col-md-4 col-sm-6">
                                <b>รายชื่อคณะกรรมการ ตรวจรับพัสดุ</b><br>
                                <input type="text" asp-for="diractor_1" placeholder="กรรมการคนที่1" />
                                <input type="text" asp-for="diractor_2" placeholder="กรรมการคนที่2" value="@Model.diractor_2" style="display:@(Model.diractor_2 == "" ? "none" : "block"  )" />
                                <input type="text" asp-for="diractor_3" placeholder="กรรมการคนที่3" value="@Model.diractor_3" style="display:@(Model.diractor_3 == "" ? "none" : "block"  )" />
                            </fieldset>
                            <hr>
                            <fieldset class="col-md-4 col-sm-6">
                                <b>รายการเอกสารแนบการพิจารณา</b><br>

                                <input id="checkbox1" type="checkbox" value="@(Model.quotationNum != 0 ? "true" : " false" )">
                                <label>ใบเสนอราคา จำนวน</label>
                                <input type="number" asp-for="quotationNum" placeholder="จำนวน" size="20" maxlength="6">
                                <label>หน้า</label>
                                <br>

                                <input id="checkbox2" name="" type="checkbox" value="@(Model.scopeWork != 0 ? "true" : " false" )">
                                <label>ขอบเขตของงาน/รายละเอียดคุณลักษณะ</label>
                                <input type="number" asp-for="scopeWork" placeholder="จำนวน">
                                <label>หน้า</label>
                                <label>*กรณีจัดซื้อจัดจ้างวงเงินตั้งเเต่ 100,000 บาทขึ้นไป</label>
                                <br>

                                <input id="checkbox3" name="" type="checkbox" value="@(Model.docNum != 0 ? "true" : " false")">
                                <label>เอกสารรายชื่อนิสิตในการลงททะเบียนเรียนรายวิชาโครงงาน/ปัญหาพิเศษ จำนวน</label>
                                <input type="number" asp-for="docNum" placeholder="จำนวน">
                                <label>หน้า</label>
                                <br>

                                <input id="checkbox4" name="" type="checkbox" value="@(Model.budgetDoc != 0 ? "true" : " false")">
                                <label>เอกสารที่ได้รับอนุมัติงบประมาณ จำนวน</label>
                                <input type="number" asp-for="budgetDoc" placeholder="จำนวน">
                                <label>หน้า</label>
                                <label>*กรณีปรับแผนซื้อครุภัณฑ์</label>
                                <br>

                                <input id="checkbox5" name="" type="checkbox" value="@(Model.otherSupport_num != 0 && Model.otherSupport != "" ? "true" : " false")">
                                <label>เอกสารประกอบอื่นๆ(ถ้ามี) ได้แก่</label>
                                <input type="text" asp-for="otherSupport" placeholder="ชื่อเอกสารอื่นๆ">
                                <label>จำนวน</label>
                                <input type="number" asp-for="otherSupport_num" placeholder="จำนวน">
                                <label>หน้า</label>
                                <br><br>
                                <b>ไฟล์แนบ</b> <br>
                                <input type="file" accept="application/pdf" asp-for="FilePDF" multiple>
                                <br>

                                @{ if (Model.FilePath != "")
                                    {
                                        <b>ไฟล์แนบล่าสุด</b> <br>
                                        <a href="~/File/FileDocUser/@Model.FilePath">@Model.FilePath</a>
                                    }
                                    else if (Model.FilePath == "")
                                    {
                                        <b>ไม่มีไฟล์แนบล่าสุด</b>
                                    }

                                }
                                <br><br>

                                <button type="button" class="button button7" id="showimage1" onclick="showimage(1)">เซ็นอนุมัติ</button><img id="signature1" src="~/img/signature/@Model.FilePath" style="display:none" /><br>
                                <input asp-for="buttonstatus" style="display:none" />
                                <button class="button button2" type="submit" onclick="sentstatus('Draft','PRS','')">บันทึกร่างเอกสาร</button>
                                <button class="button button3">Export PDF</button>
                                @if (Model.id_tor == 0)
                                {
                                    <button class="button button4" type="submit" value="Sent" onclick="sentstatus('Sent','PRS','')">ส่งเอกสาร</button>
                                }
                                @if (Model.id_tor != 0)
                                {
                                    <button class="button button4" type="submit" onclick="sentstatus('Sent','PRS','')">แก้ไขเอกสาร</button>
                                }

                            </fieldset>
                            <!-- form_ผู้จัดซื้อ -->
                        </form>
                            <!-- form_ฝ่ายพัสดุ -->
        
                        <form id="suppliesform" asp-controller="FormPRS" asp-action="AddDataSuppies" enctype="multipart/form-data" method="post" class="w3-container w3-sand">
                            <div class="page-section" id="form">
                                <div class="row">
                                    <div class="w3-container w3-light-blue w3-hover-text-light-grey">
                                        <h2>สำหรับฝ่ายพัสดุ</h2>
                                    </div>
                                </div>
                            </div>
                            <fieldset class="col-md-4 col-sm-8">
                                <label>ลำดับการดำเนินการจัดซื้อจัดจ้าง</label><br>
                                <label>1.เลือก หัวหน้าภาควิชา/หัวหน้าฝ่ายสนับสนุน/หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา</label>
                                <select asp-for="name_select1" onchange="getemail()">
                                    <option value="">เลือก</option>
                                    <option value="หัวหน้าภาควิชา" >หัวหน้าภาควิชา</option>
                                    <option value="หัวหน้าฝ่ายสนับสนุนงานกลาง">หัวหน้าฝ่ายสนับสนุนงานกลาง</option>
                                    <option value="หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา">หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา</option>
                                </select><br>
                                <label>2.เลือก ผู้ประสารงานห้องปฏิบัติการวิทยาศาสตร์/ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร</label>
                                <select asp-for="name_select2">
                                    <option value="">เลือก</option>
                                    <option value="ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์">ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์</option>
                                    <option value="ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร">ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร</option>
                                </select><br><br>

                                <label>ภาควิชา</label><br>
                                <input type="radio" class="definition4" asp-for="definition" value="ปกติ" required >
                                <label>ภาคปกติ</label>
                                <br>
                                <label>1.</label>
                                <input class="w3-input w3-border w3-round" type="text" value="นักวิเคราะห์นโยบายและแผนชำนาญการ" disabled />
                                <br>
                                <label>2.</label>
                                <input class="w3-input w3-border w3-round" type="text" value="หัวหน้าสำนักงานเลขานุการ" disabled />
                                <br>

                                <input type="radio" class="definition5" asp-for="definition" value="พิเศษ" required>
                                <label>ภาคพิเศษ</label><br><br>
                                <label>1.</label>
                                <input class="w3-input w3-border w3-round" type="text" value="นักวิเคราะห์นโยบายและแผนชำนาญการ" disabled />
                                <br>
                                <label>2.</label>
                                <input class="w3-input w3-border w3-round" type="text" value="กรรมการและเลขานุการฯ" disabled />
                                <br>
                                <label>3.</label>
                                <input class="w3-input w3-border w3-round" type="text" value="ประธานกรรมการดำเนินงานฯ" disabled />
                                <br>
                                <input asp-for="id_tor" style="display:none" />
                                <input asp-for="buttonstatus_2" style="display:none" />
                                <input asp-for="User_ID" style="display:none" />
                                <input  asp-for="Email_approval6" style="display:none"/>
                                <button  type="button" class="button button2" onclick="sentstatus('Return to Requester', 'supplies', '@Model.Email_Proquement')">ส่งคืนเพื่อแก้ไข</button>
                                <button type="button" class="button button3" >Export PDF</button>
                                <button  type="button" class="button button4" onclick="sentstatus('Sent to Approval', 'supplies', '@Model.Email_approval6')">ส่งให้ผู้อนุมัติ</button>

                            </fieldset>
                        </form>
                            


                            
                            <!-- form_ฝ่ายพัสดุ -->
                            <!-- form_ฝ่ายอนุมัติ -->
                            <div class="page-section" id="form"style="display:@(Model.status == "Sent to Approval" || Model.status=="Approved" ? "block" : "none")">
                                <div class="row">
                                    <div class="w3-container w3-cyan w3-hover-text-light-grey">
                                        <h2>สำหรับฝ่ายอนุมัติ</h2>
                                    </div>
                                </div>
                            </div>
                            <fieldset class="w3-container w3-sand" style="display:@(Model.status == "Sent to Approval"|| Model.status=="Approved" ? "block" : "none")">
                                <form id="@((Model.cerrent_flow =="หัวหน้าภาควิชา"||Model.cerrent_flow=="หัวหน้าฝ่ายสนับสนุนงานกลาง" ||Model.cerrent_flow=="หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา") && (Model.type_user_magnement =="หัวหน้าภาควิชา"|| Model.type_user_magnement=="หัวหน้าฝ่ายสนับสนุนงานกลาง" ||  Model.type_user_magnement=="หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา")? "fieldapproval2":"fieldapproval3")"
                                      name="@((Model.cerrent_flow =="หัวหน้าภาควิชา"||Model.cerrent_flow=="หัวหน้าฝ่ายสนับสนุนงานกลาง" ||Model.cerrent_flow=="หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา") && (Model.type_user_magnement =="หัวหน้าภาควิชา"|| Model.type_user_magnement=="หัวหน้าฝ่ายสนับสนุนงานกลาง" ||  Model.type_user_magnement=="หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา")? "fieldapproval2":"fieldapproval3")"
                                      class="@((Model.cerrent_flow =="หัวหน้าภาควิชา"||Model.cerrent_flow=="หัวหน้าฝ่ายสนับสนุนงานกลาง" ||Model.cerrent_flow=="หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา") && (Model.type_user_magnement =="หัวหน้าภาควิชา"|| Model.type_user_magnement=="หัวหน้าฝ่ายสนับสนุนงานกลาง" ||  Model.type_user_magnement=="หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา")? "fieldapproval2":"fieldapproval3")"  enctype="multipart/form-data" method="post" >
                                    <h4>1. @Model.name_select1</h4>
                                    <label>ความคิดเห็น</label><br>
                                    <textarea class="w3-input w3-border w3-round" asp-for="des_approval" cols="50" rows="6"
                                              placeholder="คำอธิบาย"></textarea><br><br>
                                    <label>ลายเซ็น</label><br><br>
                                    <input asp-for="last_approval" value="@Model.name_select2" style="display:none" />
                                    <input asp-for="id_tor" style="display:none" />
                                    
                                    
                                    <input type="text" id="@(Model.cerrent_flow =="หัวหน้าภาควิชา"||Model.cerrent_flow=="หัวหน้าฝ่ายสนับสนุนงานกลาง" ||Model.cerrent_flow=="หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา"? "buttonstatus_3":"")" name="@(Model.cerrent_flow =="หัวหน้าภาควิชา"||Model.cerrent_flow=="หัวหน้าฝ่ายสนับสนุนงานกลาง" ||Model.cerrent_flow=="หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา" ? "buttonstatus_3":"")" style="display:none" />
                                    <button class="button button7">เซ็นอนุมัติ</button><br>
                                    <button class="button button5" onclick="sentstatus('Return to Requester','fieldapproval2', '@Model.Email_Proquement')">ส่งคืนเพื่อแก้ไข</button>
                                    <button class="button button6" onclick="sentstatus('Sent to Approval','fieldapproval2','@Model.Email_approval')">เห็นชอบ</button>
                                </form>

                                <br><br>
                                    <form id="@((Model.cerrent_flow =="ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์"||Model.cerrent_flow=="ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร")&&(Model.type_user_magnement =="ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์"||Model.type_user_magnement=="ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร") ? "fieldapproval2":"fieldapproval3")" name="@((Model.cerrent_flow =="ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์"||Model.cerrent_flow=="ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร") &&(Model.type_user_magnement =="ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์"||Model.type_user_magnement=="ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร") ? "fieldapproval2":"fieldapproval3")" class="@((Model.cerrent_flow =="ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์"||Model.cerrent_flow=="ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร") &&(Model.type_user_magnement =="ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์"||Model.type_user_magnement=="ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร") ? "fieldapproval2":"fieldapproval3")"  enctype="multipart/form-data" method="post">
                                        <h4>2. @Model.name_select2</h4>
                                        <label>ความคิดเห็น</label><br>
                                        <textarea class="w3-input w3-border w3-round" asp-for="des_approval2" cols="50" rows="6"
                                                  placeholder="คำอธิบาย"></textarea><br><br>
                                        <label>ลายเซ็น</label><br><br>
                                        <input type="text" id="@((Model.cerrent_flow =="ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์"||Model.cerrent_flow=="ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร") &&(Model.type_user_magnement =="ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์"||Model.type_user_magnement=="ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร")? "buttonstatus_3":"")" name="@((Model.cerrent_flow =="ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์"||Model.cerrent_flow=="ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร") &&(Model.type_user_magnement =="ผู้ประสานงานห้องปฏิบัติการวิทยาศาสตร์"||Model.type_user_magnement=="ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร") ? "buttonstatus_3":"")" style="display:none" />
                                        <input asp-for="last_approval" value="นักวิเคราะห์นโยบายและแผนชำนาญการ" style="display:none" />
                                        <input asp-for="id_tor" style="display:none" />
                                        
                                        <button class="button button7">เซ็นอนุมัติ</button><br>
                                        <button class="button button5" onclick="sentstatus('Return to Requester', 'fieldapproval2', '@Model.Email_Proquement')">ส่งคืนเพื่อแก้ไข</button>
                                        <button class="button button6" onclick="sentstatus('Sent to Approval', 'fieldapproval2', '@Model.Email_approval2')">เห็นชอบ</button>
                                    </form>

                                <br><br>
                                @{

                                    if (Model.definition == "ปกติ")
                                    {

                                        <form id="@(Model.cerrent_flow=="นักวิเคราะห์นโยบายและแผนชำนาญการ" && Model.type_user_magnement=="นักวิเคราะห์นโยบายและแผนชำนาญการ" ?"fieldapproval2":"fieldapproval3")" class="@(Model.cerrent_flow=="นักวิเคราะห์นโยบายและแผนชำนาญการ" && Model.type_user_magnement=="นักวิเคราะห์นโยบายและแผนชำนาญการ" ?"fieldapproval2":"fieldapproval3")"  enctype="multipart/form-data" method="post">
                                            <h4>3.นักวิเคราะห์นโยบายและแผนชำนาญการ</h4>
                                            <label>ความคิดเห็น</label><br>
                                            <textarea class="w3-input w3-border w3-round" asp-for="des_approval3" cols="50" rows="6"
                                                      placeholder="คำอธิบาย"></textarea><br><br>
                                            <label>ลายเซ็น</label><br><br>
                                            <input type="text" id="@(Model.cerrent_flow=="นักวิเคราะห์นโยบายและแผนชำนาญการ" && Model.type_user_magnement=="นักวิเคราะห์นโยบายและแผนชำนาญการ"? "buttonstatus_3":"")" name="@(Model.cerrent_flow=="นักวิเคราะห์นโยบายและแผนชำนาญการ" && Model.type_user_magnement=="นักวิเคราะห์นโยบายและแผนชำนาญการ" ? "buttonstatus_3":"")" style="display:none" />
                                            <input asp-for="last_approval" value="หัวหน้าสำนักงานเลขานุการ" style="display:none" />
                                            <input asp-for="id_tor" style="display:none" />
                                            
                                            <button class="button button7">เซ็นอนุมัติ</button><br>
                                            <button class="button button5" onclick="sentstatus('Return to Requester','fieldapproval2', '@Model.Email_Proquement')">ส่งคืนเพื่อแก้ไข</button>
                                            <button class="button button6" onclick="sentstatus('Sent to Approval', 'fieldapproval2', '@Model.Email_approval3')">เห็นชอบ</button>
                                        </form>
                                        <br><br>
                                            <form id="@(Model.cerrent_flow=="หัวหน้าสำนักงานเลขานุการ" && Model.type_user_magnement=="หัวหน้าสำนักงานเลขานุการ" ?"fieldapproval2":"fieldapproval3")" class="@(Model.cerrent_flow=="หัวหน้าสำนักงานเลขานุการ" && Model.type_user_magnement=="หัวหน้าสำนักงานเลขานุการ" ?"fieldapproval2":"fieldapproval3")"  enctype="multipart/form-data" method="post">
                                                <h4>4.หัวหน้าสำนักงานเลขานุการ</h4>
                                                <label>ความคิดเห็น</label><br>
                                                <textarea class="w3-input w3-border w3-round" asp-for="des_approval4" cols="50" rows="6"
                                                          placeholder="คำอธิบาย"></textarea><br><br>
                                                <label>ลายเซ็น</label><br><br>
                                                <input type="text" id="@(Model.cerrent_flow=="หัวหน้าสำนักงานเลขานุการ" && Model.type_user_magnement=="หัวหน้าสำนักงานเลขานุการ"? "buttonstatus_3":"")" name="@(Model.cerrent_flow=="หัวหน้าสำนักงานเลขานุการ" && Model.type_user_magnement=="หัวหน้าสำนักงานเลขานุการ" ? "buttonstatus_3":"")" style="display:none" />
                                                <input asp-for="last_approval" value="เสร็จสิ้น" style="display:none" />
                                                <input asp-for="id_tor" style="display:none" />
                                                
                                                <button class="button button7">เซ็นอนุมัติ</button><br>
                                                <button class="button button5" onclick="sentstatus('Return to Requester','fieldapproval2', '@Model.Email_Proquement')">ส่งคืนเพื่อแก้ไข</button>
                                                <button class="button button6" onclick="sentstatus('Approved', 'fieldapproval2', '@Model.Email_Proquement')">เห็นชอบ</button>
                                            </form>



                                    }
                                    else if (Model.definition == "พิเศษ")
                                    {
                                        <form id="@(Model.cerrent_flow=="นักวิเคราะห์นโยบายและแผนชำนาญการ" && Model.type_user_magnement=="นักวิเคราะห์นโยบายและแผนชำนาญการ" ?"fieldapproval2":"fieldapproval3")" class="@(Model.cerrent_flow=="นักวิเคราะห์นโยบายและแผนชำนาญการ" && Model.type_user_magnement=="นักวิเคราะห์นโยบายและแผนชำนาญการ" ?"fieldapproval2":"fieldapproval3")" enctype="multipart/form-data" method="post">
                                            <h4>3.นักวิเคราะห์นโยบายและแผนชำนาญการ</h4>
                                            <label>ความคิดเห็น</label><br>
                                            <textarea class="w3-input w3-border w3-round" asp-for="des_approval3" cols="50" rows="6"
                                                      placeholder="คำอธิบาย"></textarea><br><br>
                                            <label>ลายเซ็น</label><br><br>
                                            <input type="text" id="@(Model.cerrent_flow=="นักวิเคราะห์นโยบายและแผนชำนาญการ" && Model.type_user_magnement=="นักวิเคราะห์นโยบายและแผนชำนาญการ"? "buttonstatus_3":"")" name="@(Model.cerrent_flow=="นักวิเคราะห์นโยบายและแผนชำนาญการ" && Model.type_user_magnement=="นักวิเคราะห์นโยบายและแผนชำนาญการ" ? "buttonstatus_3":"")" style="display:none" />
                                            <input asp-for="last_approval" value="กรรมการเลขานุการฯ" style="display:none" />
                                            <input asp-for="id_tor" style="display:none" />
                                            
                                            <button class="button button7">เซ็นอนุมัติ</button><br>
                                            <button class="button button5" onclick="sentstatus('Return to Requester','fieldapproval2', '@Model.Email_Proquement')">ส่งคืนเพื่อแก้ไข</button>
                                            <button class="button button6" onclick="sentstatus('Sent to Approval', 'fieldapproval2', '@Model.Email_approval4')">เห็นชอบ</button>
                                        </form>

                                        <br><br>
                                            <form id="@(Model.cerrent_flow=="กรรมการเลขานุการฯ" && Model.type_user_magnement=="กรรมการเลขานุการฯ" ?"fieldapproval2":"fieldapproval3")" class="@(Model.cerrent_flow=="กรรมการเลขานุการฯ" && Model.type_user_magnement=="กรรมการเลขานุการฯ" ?"fieldapproval2":"fieldapproval3")" enctype="multipart/form-data" method="post">
                                                <h4>4.กรรมการเลขานุการฯ</h4>
                                                <label>ความคิดเห็น</label><br>
                                                <textarea class="w3-input w3-border w3-round" asp-for="des_approval4" cols="50" rows="6"
                                                          placeholder="คำอธิบาย"></textarea><br><br>
                                                <label>ลายเซ็น</label><br><br>
                                                <input type="text" id="@(Model.cerrent_flow=="กรรมการเลขานุการฯ" && Model.type_user_magnement=="กรรมการเลขานุการฯ"? "buttonstatus_3":"")" name="@(Model.cerrent_flow=="กรรมการเลขานุการฯ" && Model.type_user_magnement=="กรรมการเลขานุการฯ" ? "buttonstatus_3":"")" style="display:none" />
                                                <input asp-for="last_approval" value="ประธานกรรมการดำเนินการฯ" style="display:none" />
                                                <input asp-for="id_tor" style="display:none" />
                                                
                                                <button class="button button7">เซ็นอนุมัติ</button><br>
                                                <button class="button button5" onclick="sentstatus('Return to Requester','fieldapproval2', '@Model.Email_Proquement')">ส่งคืนเพื่อแก้ไข</button>
                                                <button class="button button6" onclick="sentstatus('Sent to Approval', 'fieldapproval2', '@Model.Email_approval5')">เห็นชอบ</button>
                                            </form>

                                            <form id="@(Model.cerrent_flow=="ประธานกรรมการดำเนินการฯ" && Model.type_user_magnement=="ประธานกรรมการดำเนินการฯ" ?"fieldapproval2":"fieldapproval3")" class="@(Model.cerrent_flow=="ประธานกรรมการดำเนินการฯ" && Model.type_user_magnement=="ประธานกรรมการดำเนินการฯ" ?"fieldapproval2":"fieldapproval3")" enctype="multipart/form-data" method="post">
                                                <h4>5.ประธานกรรมการดำเนินการฯ</h4>
                                                <label>ความคิดเห็น</label><br>
                                                <textarea class="w3-input w3-border w3-round" asp-for="des_approval4" cols="50" rows="6"
                                                          placeholder="คำอธิบาย"></textarea><br><br>
                                                <label>ลายเซ็น</label><br><br>
                                                <input type="text" id="@(Model.cerrent_flow=="ประธานกรรมการดำเนินการฯ" && Model.type_user_magnement=="ประธานกรรมการดำเนินการฯ"? "buttonstatus_3":"")" name="@(Model.cerrent_flow=="ประธานกรรมการดำเนินการฯ" && Model.type_user_magnement=="ประธานกรรมการดำเนินการฯ" ? "buttonstatus_3":"")" style="display:none" />
                                                <input asp-for="last_approval" value="เสร็จสิ้น" style="display:none" />
                                                <input asp-for="id_tor" style="display:none" />
                                                
                                                <button class="button button7">เซ็นอนุมัติ</button><br>
                                                <button class="button button5" onclick="sentstatus('Return to Requester','fieldapproval2', '@Model.Email_Proquement')">ส่งคืนเพื่อแก้ไข</button>
                                                <button class="button button6" onclick="sentstatus('Approved', 'fieldapproval2', '@Model.Email_Proquement')">เห็นชอบ</button>
                                            </form>

                                            
                                            }
                                            }


                                    </fieldset>
                            <!-- form_ฝ่ายอนุมัติ -->

                        
                    </div> <!-- .contact-form -->
                </div>
                <hr>


            </div>

        </div>
    </div>


    @*<script src="js/addinput.js"></script>*@

</body>

</html>
<script src="~/js/vendor/jquery-1.10.2.min.js"></script>
<script src="~/js/min/plugins.min.js"></script>
<script src="~/js/min/main.min.js"></script>
<script>
    window.onload = function () {
        for (var i = 1; i <= 5 ; i++)
        {
            var checkbox = document.getElementById("checkbox" + i).value;
            if (checkbox == "true") {

                document.getElementById("checkbox" + i).checked = true;
            }
        }
        @*@{ string checkformprs=}
        var checklogin=
        var checkformprs=*@
        @*var definition = "@(Model.definition== "ปกติ" || Model.definition == null ? "definition4" : "definition5")";
        var valuedefinition = document.getElementsByClassName(definition).value
        alert(valuedefinition);
            document.getElementsByClassNamee(definition).checked = true;*@



    };
</script>
<script>
    @{int countproduct2 = Model.Productdata != null ? Model.Productdata.Count  : 1;}
    @{int countsubject2 = Model.Subjectdata != null ? Model.Subjectdata.Count  : 0;}
    var y = @countproduct2 ;
    var x = @countsubject2;
    var listindexdelete = "";
    var listsubdelete = "";

    $(document).ready(function () {
        var max_fields = 10;
        var wrapper = $(".container1");
        var add_button = $(".add_form_field");
        var max_object = 20;
        var object = $(".container2");
        var add_object = $(".add_form_object");

        var id_tor = document.getElementById("id_tor").value;
        // check form prs จัดซื้อว่า ชื่อ ตรงกันหรือไม่ เอาชื่อที่ login กับ ชื่อ ที่เคยกรอกมาเช็คกัน สถานะจะแก้ไขได้ก็ต่อเมื่อ สถานะ เป็น Return to Requester และจะแอดได้ก็ต่อเมื่อสถานะ เป็น ""
        @{ string checkloginuser = Model.login_userid != "" ? Model.login_userid:"";
            string statusform = Model.status != "" ? Model.status : "";
            string checkownerid = Model.User_ID != "" ? Model.User_ID : Model.login_userid;
            string category_user = Model.category_user;
            }
        var checkloginuser ="@checkloginuser";
        var statusform ="@statusform";
        var checkuserid = "@checkownerid";
        var checkcategory_user="@category_user";
        if (id_tor != 0) {

            if (checkloginuser != checkuserid || statusform == "Sent" || statusform == "Sent to Approval" || statusform == "Approved" ) {
                $("#createform").children('fieldset').children('input').prop("disabled", true);
                $("#createform").children('fieldset').children('textarea').prop("disabled", true);
                $("#createform").children('fieldset').children('button').hide();
                $("#addsubject").hide();
                $("#addproduct").hide();
                for (let i = 0; i < x; i++) {
                    $("#fieldsubject" + i).children('input').prop("disabled", true);
                    $("#fieldsubject" + i).children('button').hide();
                }
                for (let i = 0; i < y; i++) {
                    $("#field" + i).children('input').prop("disabled", true);
                    $("#field" + i).children('button').hide();
                }
            }


        }

        //---- Check Form Suppies
        if (checkcategory_user != "Admin" || statusform != "Sent")
        {

            $("#suppliesform").children('fieldset').children().prop("disabled", true);
            $("#suppliesform").children('fieldset').children('button').hide();
        }
        $(".fieldapproval3").children('input').prop("disabled", true);
        $(".fieldapproval3").children('textarea').prop("disabled", true);
        $(".fieldapproval3").children('button').hide();


        //------------------------------------------------------------------------------------------------------------------------------------------------------------

        $("#Editsubmit").click(function () {
            Email.send({
                Host: "smtp.gmail.com",
                Username: "chinopas.muangthai@gmail.com",
                Password: "aukijdfxsurfnmlu",
                To: 'chinopas.m@ku.th',
                From: "chinopas.muangthai@gmail.com",
                Subject: "Test send Email",
                Body: "ขอความกรุณา กดลิ๊งเพื่อลงความเห็นจัดซื้อหรือจ้าง https://localhost:44304"+"@Url.Action("form", "FormPRS")"+"?id_tor="+id_tor
            })
                .then(function (message) {
                    alert("mail sent successfully")
                });
        });


        $(add_button).click(function (e) {
            e.preventDefault();
            if (x < max_fields) {
                var text = `<div id="fieldsubject[string]"><input size= 180 type="text" id="Subjectdata[[string]].Subject" name="Subjectdata[[string]].Subject" placeholder="รหัสวิชา" required/>
                                                <input type="number" id="Subjectdata[[string]].Id_Subject" name="Subjectdata[[string]].Id_Subject" value="0" style="display:none" placeholder="รหัสวิชา" required>

                                                <input type="text" id="Subjectdata[[string]].status" Name="Subjectdata[[string]].status" value="Open" style="display:none" readonly>
<button type="button" id="buttonsub[string]" class="delete" onclick="deletesubjectfield([string],'Subjectdata[[string]].status','Subjectdata[[string]].Id_Subject')">Delete</button>`;
                text = text.replaceAll('[string]', x.toString());
                console.log("Current List X=" + x);
                x++;
                $(wrapper).append(text); //add input box

            } else {
                alert('You Reached the limits')
            }
        });


        $(add_object).click(function (e) {
            e.preventDefault();
            if (y < max_object) {
                console.log("index :" + y);
                var text = `<div id="field[string]">

                            <input type="text" id="Productdata[[string]].status" Name="Productdata[[string]].status"  style="display:none" readonly>
                           <input type="number" id="Productdata[[string]].Id_Product" Name="Productdata[[string]].Id_Product" value="0" style="display:none" readonly>

                                <label>ชื่อสินค้า</label><input type="text" id="Productdata[[string]].NameProduct" Name="Productdata[[string]].NameProduct" placeholder="บิ๊กเกอร์ 50 มล." required>
                                <label>จำนวนสินค้า</label><input type="number" id="Productdata[[string]].AmtProduct" Name="Productdata[[string]].AmtProduct" placeholder="99" value=0 required onkeypress="check_amt()"  onkeyup="check_amt()" >
                                <label>หน่วยสินค้า</label><input type="text" id="Productdata[[string]].Unit" Name="Productdata[[string]].Unit" placeholder="อัน" required>
                                <label>ราคาต่อหน่วย</label><input type="number" step="0.01"  value=0 id="Productdata[[string]].Price_Per_Piece" onkeypress="sumproductprice()"  onkeyup="sumproductprice()" Name="Productdata[[string]].Price_Per_Piece" placeholder="100" required/>

<button type="button" id="buttonproduct[string]"  class="delete" onclick="deleteproductfield([string],'Productdata[[string]].status','Productdata[[string]].Id_Product')">Delete</button>
                                </div>
                                `;


                    text = text.replaceAll('[string]', y.toString());
                    y++;
                    $(object).append(text); //add input box
                } else {
                    alert('You Reached the limits')
                }
            });

    });
    //function sentstatusapproval(id_user,)
    function send_emailto_admin() {
        let emailadmin ='@Model.stringlistemail_admin';

        const arrayemail = emailadmin.split("/");
        for (let i = 0; i < arrayemail.length; i++) {
            Email.send({
                Host: "smtp.gmail.com",
                Username: "chinopas.muangthai@gmail.com",
                Password: "aukijdfxsurfnmlu",
                To: arrayemail[i],
                From: "chinopas.muangthai@gmail.com",
                Subject: "Test send Email",
                Body: "ขอความกรุณา กดลิ๊งเพื่อลงความเห็นจัดซื้อหรือจ้าง https://localhost:44304"+"@Url.Action("form", "FormPRS")"+"?id_tor="+id_tor
            })
                .then(function (message) {
                    //alert("mail sent successfully")
                });

        }







    }
    function getemail() {
        try {
            var form = document.getElementById("suppliesform");
                const url = "@Url.Action("getEmail", "FormPRS")";
            console.log(url);

                const formData = new FormData(form);
            @*var type = document.getElementById("name_select1").value;
            const url = "@Url.Action("getEmail", "FormPRS")" + "?type=" + type;
            alert(url);
                console.log(url);*@
            //const formData = new FormData(email);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData, // ดึงข้อมุลในฟอร์ม
                    contentType: false,
                    dataType: "JSON",
                    processData: false,
                    success: function (data) {
                        document.getElementById("Email_approval6").value = data.email;

                        @*console.log(data);
                        if (data.status == "success") {
                            Swal.fire({
                                icon: 'success',
                                title: data.messege,
                                showConfirmButton: true,
                                confirmButtonText: 'Ok'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = "@Url.Action("index", "FormPRS")";
                                }
                            });

                        }
                        else if (data.status == "error") {
                            Swal.fire({
                                icon: 'error',
                                title: data.errorMessage,
                                html: data.detail,
                                showConfirmButton: true,
                            });
                        }*@
                    },
                    error: function (err) {
                        console.log("Error", err);
                        alert("Error save fail");
                    }
                });


            } catch (error) {
                console.error('Error:', error);
            }
    }
    function sentstatus(value,field,email) {
        if (field == "PRS") {
            document.getElementById("buttonstatus").value = value;
            //alert("PRS status success")
            //document.getElementById("createform").submit();
        }
        else if (field == "supplies") {
            document.getElementById("buttonstatus_2").value = value;

            @*location.href = "@Url.Action("index", "FormPRS")" + "?id_tor=" + "@Model.id_tor"+"&&buttonstatus"+value+"";*@
            try {
                var id_tor = document.getElementById("id_tor").value;
                var form = document.getElementById("suppliesform");
                const url = "@Url.Action("AddDataSuppies", "FormPRS")";
                console.log(url);
                const formData = new FormData(form);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData, // ดึงข้อมุลในฟอร์ม
                    contentType: false,
                    dataType: "JSON",
                    processData: false,
                    success: function (data) {

                        console.log(data);
                        if (data.status == "success") {
                            Swal.fire({
                                icon: 'success',
                                title: data.messege,
                                showConfirmButton: true,
                                confirmButtonText: 'Ok'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = "@Url.Action("index", "FormPRS")";
                                }
                            });

                        }
                        else if (data.status == "error") {
                            Swal.fire({
                                icon: 'error',
                                title: data.errorMessage,
                                html: data.detail,
                                showConfirmButton: true,
                            });
                        }
                    },
                    error: function (err) {
                        console.log("Error", err);
                        alert("Error save fail");
                    }
                });
                if (value == "Sent to Approval") {
                    var email2 = document.getElementById("Email_approval6").value;
                    alert(email2);
                    Email.send({
                        Host: "smtp.gmail.com",
                        Username: "chinopas.muangthai@gmail.com",
                        Password: "aukijdfxsurfnmlu",
                        To: email2.toString(),
                        From: "chinopas.muangthai@gmail.com",
                        Subject: "Test send Email",
                        Body: "ขอความกรุณา กดลิ๊งเพื่อลงความเห็นเอกสารจัดซื้อหรือจ้าง https://localhost:44304" + "@Url.Action("form", "FormPRS")" + "?id_tor=" + id_tor
                    })
                        .then(function (message) {
                            //alert("mail sent successfully")
                        });
                }
                else if (value == 'Return to Requester') {
                    Email.send({
                        Host: "smtp.gmail.com",
                        Username: "chinopas.muangthai@gmail.com",
                        Password: "aukijdfxsurfnmlu",
                        To: email,
                        From: "chinopas.muangthai@gmail.com",
                        Subject: "Test send Email",
                        Body: "สถานะ ส่งคืนเพื่อแก้ไข ขอความกรุณา กดลิ๊งเพื่อแก้ไขเอกสารจัดซื้อหรือจ้าง https://localhost:44304" + "@Url.Action("form", "FormPRS")" + "?id_tor=" + id_tor
                    })
                        .then(function (message) {
                            //alert("mail sent successfully")
                        });
                }


            } catch (error) {
                console.error('Error:', error);
            }
            //document.getElementById("suppliesform").submit();

        }
        else if (field == "fieldapproval2") {
            document.getElementById("buttonstatus_3").value = value;

            @*location.href = "@Url.Action("index", "FormPRS")" + "?id_tor=" + "@Model.id_tor"+"&&buttonstatus"+value+"";*@
            try {
                var id_tor = document.getElementById("id_tor").value;
                var form = document.getElementById("fieldapproval2");
                const url = "@Url.Action("AddDataApprover2", "FormPRS")";
                alert(url)
                console.log(url);
                const formData = new FormData(form);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData, // ดึงข้อมุลในฟอร์ม
                    contentType: false,
                    dataType: "JSON",
                    processData: false,
                    success: function (data) {
                        alert(data.status);
                        console.log(data);
                        if (data.status == "success") {
                            alert("success");
                            location.href = "@Url.Action("index", "FormPRS")";
                            Swal.fire({
                                icon: 'success',
                                title: data.messege,
                                showConfirmButton: true,
                                confirmButtonText: 'Ok'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = "@Url.Action("index", "FormPRS")";
                                }
                            });

                        }
                        else if (data.status == "error") {
                            Swal.fire({
                                icon: 'error',
                                title: data.errorMessage,
                                html: data.detail,
                                showConfirmButton: true,
                            });
                        }
                    },
                    error: function (err) {
                        console.log("Error", err);
                        alert("Error save fail");
                    }
                });
                if (value == "Sent to Approval") {
                    Email.send({
                        Host: "smtp.gmail.com",
                        Username: "chinopas.muangthai@gmail.com",
                        Password: "aukijdfxsurfnmlu",
                        To: email,
                        From: "chinopas.muangthai@gmail.com",
                        Subject: "Test send Email",
                        Body: "ขอความกรุณา กดลิ๊งเพื่อลงความเห็นเอกสารจัดซื้อหรือจ้าง https://localhost:44304" + "@Url.Action("form", "FormPRS")" + "?id_tor=" + id_tor
                    })
                        .then(function (message) {
                            //alert("mail sent successfully")
                        });
                }
                else if (value == 'Approved') {
                    Email.send({
                        Host: "smtp.gmail.com",
                        Username: "chinopas.muangthai@gmail.com",
                        Password: "aukijdfxsurfnmlu",
                        To: email,
                        From: "chinopas.muangthai@gmail.com",
                        Subject: "Test send Email",
                        Body: "คำขอจัดซื้อหรือจ้าง เรื่อง " + '@Model.nameProcument'+" ได้ถูกอนุมัติเห็นชอบแล้ว"
                    })
                        .then(function (message) {
                            //alert("mail sent successfully")
                        });
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

    }
    function deleteproductfield(index, status, Id_Product) {
        var indexdelete = document.getElementById(Id_Product).value;
        listindexdelete = indexdelete + "," + listindexdelete;
        if (listindexdelete.charAt(listindexdelete.length - 1) == ',') {
            console.log("check At , ")
            listindexdelete = listindexdelete.substring(0, listindexdelete.length - 1)
        }
        document.getElementById("IndexProDelete").value = listindexdelete;
        console.log(listindexdelete)
            console.log(status);
            console.log("check");
            document.getElementById(status).value = "Close";
            //$(this).parent('div').remove();

            let field_delete = document.getElementById("field" + index);
            field_delete.remove();
            const list = ["NameProduct","AmtProduct","Unit","Price_Per_Piece","status","Id_Product"];
            y--;
            console.log("PresPosition=" + y);
            for (let i = index; i < y; i++) {
                let nposition = i + 1;

                console.log("ListPosition=" + i);
                console.log("Presfield=" + nposition);
                console.log("Newfield=" + (nposition - 1));
                let presfield = document.getElementById("field" + nposition);
                presfield.setAttribute("id", "field" + (nposition - 1).toString());
                for (let j = 0; j < list.length; j++) {

                    //change index number in product
                    let presinput = document.getElementById("Productdata[" + nposition.toString() + "]." + list[j].toString());
                    console.log("Productdata[" + (nposition - 1).toString() + "]." + list[j].toString());
                    console.log("Check Error 2");
                    //change index number in id and name
                    presinput.setAttribute("id", "Productdata[" + (nposition - 1).toString() + "]." + list[j].toString());
                    presinput.setAttribute("name", "Productdata[" + (nposition - 1).toString() + "]." + list[j].toString());
                    console.log("Check Error 3");
                    //change index number in onclick
                }
                let presbutdelte = document.getElementById("buttonproduct" + nposition.toString());
                console.log("Check Error 4");
                presbutdelte.setAttribute("id", "buttonproduct" + (nposition - 1).toString());
                console.log("Check Error 5");
                presbutdelte.setAttribute("onclick", "deleteproductfield(" + (nposition - 1).toString() + ",'Productdata[" + (nposition - 1).toString() + "].status'" + ",'Productdata[" + (nposition - 1).toString() + "].Id_Product'" + ")");
                console.log("Check Error 6");

        }


            console.log("LastPosition=" + y);
            sumproductprice();
            if (y == 0) {
                y=1;
        }


        }
    function deletesubjectfield(index, status, id_subject) {
        console.log("Check Error1");
        var indexdelete = document.getElementById(id_subject).value;
        listsubdelete = indexdelete + "," + listsubdelete;
        console.log("Check Error2");
        if (listsubdelete.charAt(listsubdelete.length - 1) == ',') {
            console.log(listsubdelete)
            listsubdelete = listsubdelete.substring(0, listsubdelete.length - 1)
        }
        document.getElementById("IndexSubdelete").value = listsubdelete;
        console.log(listsubdelete)
        console.log("Check Error3");
        if (x != 0) {
            console.log("Check Error4");
            let field_delete = document.getElementById("fieldsubject" + index);
            console.log("fieldsubject" + index);
            document.getElementById(status).value = "Close";
            field_delete.remove();
            console.log("Current List X=" + x);
            x--;

            console.log("New List X=" + x);
            console.log("Check Error5");
            for (i = index; i < x; i++) {
                console.log("Check Error6");
                let nposition = i + 1;
                console.log("fieldsubject" + (i - 1));
                let presfield = document.getElementById("fieldsubject" + nposition.toString());
                presfield.setAttribute("id", "fieldsubject" + (nposition - 1).toString())

                let presinput = document.getElementById("Subjectdata[" + nposition.toString() + "].Subject");
                presinput.setAttribute("id", "Subjectdata[" + (nposition - 1).toString() + "].Subject");
                presinput.setAttribute("name", "Subjectdata[" + (nposition - 1).toString() + "].Subject");

                let presinput2 = document.getElementById("Subjectdata[" + nposition.toString() + "].status");
                presinput2.setAttribute("id", "Subjectdata[" + (nposition - 1).toString() + "].status");
                presinput2.setAttribute("name", "Subjectdata[" + (nposition - 1).toString() + "].status");

                let presinput3 = document.getElementById("Subjectdata[" + nposition.toString() + "].Id_Subject");
                presinput3.setAttribute("id", "Subjectdata[" + (nposition - 1).toString() + "].Id_Subject");
                presinput3.setAttribute("name", "Subjectdata[" + (nposition - 1).toString() + "].Id_Subject");

                let presbutdelete = document.getElementById("buttonsub" + nposition.toString());
                presbutdelete.setAttribute("id", "buttonsub" + (nposition - 1).toString());
                presbutdelete.setAttribute("onclick", "deletesubjectfield(" + (nposition - 1).toString() + ",'Subjectdata[" + (nposition - 1).toString() + "].status'" + ",'Subjectdata[" + (nposition - 1).toString() + "].Id_Subject'" + ")");


            }
        }

        else if( x== 0)
        {
            console.log("Check Error7");
            let field_delete = document.getElementById("fieldsubject" + index);
            console.log("fieldsubject" + index);
            document.getElementById(status).value = "Close";
            field_delete.remove();
        }


        }


        let sumprice = 0;
        function check_amt() {
            console.log("presPosition :" + y);
            for (let i = 0; i <= y; i++) {
                var amt_product = document.getElementById("Productdata[" + i + "].AmtProduct").value;
                if (isNaN(amt_product) == true) {

                }
                if (amt_product < 0) {
                    document.getElementById("Productdata[" + i + "].AmtProduct").value = 0;
                    alert("Please input Value > 0")

                }
            }
        }
        function sumproductprice() {
            sumprice = 0;
            for (let i = 0; i < y; i++) {
                var amt_product = document.getElementById("Productdata[" + i + "].AmtProduct").value;
                var per_price = document.getElementById("Productdata[" + i + "].Price_Per_Piece").value;
                amt_product = parseInt(amt_product);
                per_price = parseFloat(per_price);
                if (isNaN(amt_product) == true || isNaN(per_price) == true) {
                    amt_product = 0;
                    per_price = 0;
                    sumprice = (sumprice + amt_product * per_price);
                    document.getElementById("sumproduct").value = parseFloat(sumprice);
                }

                else if (amt_product < 0) {
                    document.getElementById("Productdata[" + i + "].AmtProduct").value = 0;
                    alert("Please input Value > 0")

                }
                else if (per_price < 0) {

                    document.getElementById("Productdata[" + i + "].Price_Per_Piece").value = 0;
                    alert("Please input Value > 0")
                }
                else {
                    var vaxproduct = (0.07) * (sumprice + amt_product * per_price)
                    sumprice = sumprice + amt_product * per_price;
                    document.getElementById("vaxproduct").value = parseFloat(vaxproduct.toFixed(2));
                    document.getElementById("sumproduct").value = parseFloat((sumprice + vaxproduct).toFixed(2));
                }
                let check_sum = sumprice;
                console.log("Check Sum : " + check_sum);
                if (check_sum >= 10000) {
                    document.getElementById("diractor_2").style.display = "block";
                    document.getElementById("diractor_3").style.display = "block";
                }
                else if (check_sum < 10000) {

                    document.getElementById("diractor_2").style.display = "none";
                    document.getElementById("diractor_3").style.display = "none";

                }

                console.log(sumprice);


            }


        }
        function showimage(index) {
            document.getElementById("signature" + index).style.display = "block";
        }
</script>
@section Scripts{
    <script>
        async  function AJAXSubmit(oFormElement) {
            try {
                var id_tor = document.getElementById("id_tor").value;
                var form = document.getElementById("createform");
                const url = "@Url.Action("AddDataProcurement", "FormPRS")";
                console.log(url);
                const formData = new FormData(form);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData, // ดึงข้อมุลในฟอร์ม
                    contentType: false,
                    dataType: "JSON",
                    processData: false,
                    success: function (data) {

                        console.log(data);
                        if (data.status == "success") {
                            Swal.fire({
                                icon: 'success',
                                title: data.messege,
                                showConfirmButton: true,
                                confirmButtonText: 'Ok'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    
                                   

                                    location.href ="@Url.Action("index", "FormPRS")";
                                }
                            });

                        }
                        else if (data.status == "error") {
                            Swal.fire({
                                icon: 'error',
                                title: data.errorMessage,
                                html: data.detail,
                                showConfirmButton: true,
                            });
                        }
                    },
                    error: function (err) {
                        console.log("Error", err);
                        alert("Error save fail");
                    }
                });
                let status = document.getElementById("buttonstatus").value;
                if (status == "Sent") {

                                            let emailadmin = '@Model.stringlistemail_admin';
                                             @*alert("mail sent successfully "+"ขอความกรุณา กดลิ๊งเพื่อลงความเห็นจัดซื้อหรือจ้าง https://localhost:44304" + "@Url.Action("form", "FormPRS")" + "?id_tor=" + '@Model.id_tor')*@
                                        const arrayemail = emailadmin.split("/");
                                        for (let i = 0; i < arrayemail.length; i++) {
                                            Email.send({
                                                Host: "smtp.gmail.com",
                                                Username: "chinopas.muangthai@gmail.com",
                                                Password: "aukijdfxsurfnmlu",
                                                To: arrayemail[i],
                                                From: "chinopas.muangthai@gmail.com",
                                                Subject: "Test send Email",
                                                Body: "ขอความกรุณา กดลิ๊งเพื่อลงความเห็นจัดซื้อหรือจ้าง https://localhost:44304" + "@Url.Action("form", "FormPRS")" + "?id_tor=" + '@Model.id_tor'
                                         })
                                                .then(function (message) {
                                                    @*alert("mail sent successfully "+"ขอความกรุณา กดลิ๊งเพื่อลงความเห็นจัดซื้อหรือจ้าง https://localhost:44304" + "@Url.Action("form", "FormPRS")" + "?id_tor=" + '@Model.id_tor')*@
                                                });

                                        }
                                    }

            } catch (error) {
                console.error('Error:', error);
            }



        }
    </script>
}