@using PRS_System.Controllers
@model PRS_System.Models.FormModel.FormPRSModel
@{
    Layout = "_BlankLayout";
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="th">
<!--<![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/normalize.css">

    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/ui_form.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

    <!-- MAIN -->
    <div class="main-content">
        <div class="fluid-container">
            <div>
                <!-- Form -->
                <div class="page-section" id="form">
                    <div class="row">
                        <div class="w3-container w3-pale-blue w3-hover-text-teal">
                            <h1>FORM</h1>
                            <h2>สำหรับผู้ทำงานขอจัดซื้อ</h2>
                        </div>
                    </div>
                    <div class="row">
                        <form id="createform" asp-controller="FormPRS" asp-action="AddDataProcurement" enctype="multipart/form-data" method="post" class="w3-container w3-card-4 w3-light-grey">
                            <!-- form_ผู้จัดซื้อ -->
                            <fieldset class="col-md-4 col-sm-8">
                                <p>รหัสสำหรับห้องปฏิบัติการวิทยาศาสตร์</p>
                                <input class="w3-input w3-border w3-round" type="text" asp-for="idRoom" placeholder="Ex. LAB 001-001-65009" size="50" required>

                                <p>ชื่อเรื่องที่จะทำการจัดซื้อหรือจ้าง</p>
                                <input class="w3-input w3-border w3-round" type="text" asp-for="nameProcument" placeholder="Ex.ขอให้จัดซื้ออุปกรณ์" size="50" required>

                                <p>คำอธิบายและเหตุผลถึงการจัดซื้อหรือจ้าง</p>
                                <textarea class="w3-input w3-border w3-round" name="message" asp-for="description_1" cols="50" rows="6"
                                          placeholder="คำอธิบาย"></textarea>
                            </fieldset>
                            <hr>
                            <fieldset class="col-md-4 col-sm-8">
                                <b>เหตุผลในการสนับสนุน</b><br><br>
                                <input type="checkbox" asp-for="supportType" value="1">
                                <label>เพื่อใช้ในการสนับสนุนรายวิชา</label>
                                <br>

                                <div class="container1">
                                    <button class="add_form_field" type="button">
                                        Add &nbsp;
                                        <span style="font-size:16px; font-weight:bold;">+ </span>
                                    </button>
                                    <div>
                                        @{int countsubject = Model.Subjectdata != null ? Model.Subjectdata.Count - 1 : 0;}
                                        @for (int i = 0; i <= countsubject; i++)
                                        {
                                            var item = Model.Subjectdata.ToList()[i];
                                            <div id="fieldsubject@(i)">
                                                <input type="text" id="Subjectdata[@i].Subject" name="Subjectdata[@i].Subject" value="@item.Subject" placeholder="รหัสวิชา" required>
                                                <input type="text" id="Subjectdata[@i].status" Name="Subjectdata[@i].status" value="@item.status" style="display:none" readonly>
                                                @if (i > 0)
                                                {
                                                    <button type="button" id="buttonsub@(i)" class="delete" onclick="deletesubjectfield(@i,'Subjectdata[@i].status')">Delete</button>
                                                }
                                            </div>

                                            
                                            

                                        }

                                    </div>
                                </div>
                                <!--ไว้สำหรับการเก็บ idtor เพื่อส่งไปให้แต่ละ Action-->
                                <input asp-for="id_tor" style="display:none" />

                                <input id="checkBox" name="" type="checkbox">
                                <label>เพื่อใช้ในการสนับสนุนรายวิชาอื่นๆ</label><br>
                                <input type="radio" asp-for="supportType" value="2">
                                <label>ได้รับสนับสนุนจาก</label>
                                <input class="w3-input w3-border w3-round"  type="text" name="supportBy" placeholder="ได้รับทุนสนับสนุนจาก"><br>
                                <input type="radio" asp-for="supportType" value="3">
                                <label>ไม่ได้รับแหล่งเงินทุนสนับสนุนใดๆ</label><br>
                                <input type="radio" asp-for="supportType" value="4">
                                <label>เหตุผลอื่นๆ</label>
                                <input class="w3-input w3-border w3-round"  type="text" name="other" placeholder="เหตุผลอื่นๆ">
                            </fieldset>
                            <hr>

                            <fieldset class="col-md-4 col-sm-6">
                                <b>รายการสินค้า</b><br>
                                <button class="add_form_object" type="button">
                                    Add &nbsp;
                                    <span style="font-size:16px; font-weight:bold;">+ </span>
                                </button>
                                <input type="text" asp-for="IndexDelete" value="@Model.IndexDelete" style="display:none" readonly>
                                <div class="container2">

                                    @{int countproduct = Model.Productdata != null ? Model.Productdata.Count - 1 : 0;}
                                    @for (int i = 0; i <= countproduct; i++)
                                    {

                                        var item = Model.Productdata.ToList()[i];
                                        <div id="field@(i)">

                                            <label>ชื่อสินค้า</label>
                                            <input type="text" id="Productdata[@i].NameProduct" Name="Productdata[@i].NameProduct" value="@item.NameProduct" placeholder="บิ๊กเกอร์ 50 มล." required>

                                            <label>จำนวนสินค้า</label>
                                            <input type="number" id="Productdata[@i].AmtProduct" Name="Productdata[@i].AmtProduct" value="@item.AmtProduct" placeholder="99" onkeypress="check_amt()" onkeyup="check_amt()" step="0.01" required>

                                            <label>หน่วยสินค้า</label>
                                            <input type="text" id="Productdata[@i].Unit" Name="Productdata[@i].Unit" value="@item.Unit" placeholder="อัน" required>

                                            <label>ราคาต่อหน่วย</label>
                                            <input type="number" id="Productdata[@i].Price_Per_Piece" value="@item.Price_Per_Piece" onkeypress="sumproductprice()" onkeyup="sumproductprice()" Name="Productdata[@i].Price_Per_Piece" placeholder="100" step="0.01" required />
                                            <input type="text" id="Productdata[@i].status" Name="Productdata[@i].status" value="@item.status" style="display:none" readonly>
                                            <input type="number" id="Productdata[@i].Id_Product" Name="Productdata[@i].Id_Product" value="@item.Id_Product" style="display:none" readonly>
                                            @if (i > 0)
                                            {
                                                <button type="button" id="buttonproduct@(i)" class="delete" onclick="deleteproductfield(@i,'Productdata[@i].status','Productdata[@i].Id_Product')">Delete</button>
                                            }
                                        </div>
                                    }

                                </div>
                                <div>
                                    <label>ภาษีมูลค่าเพิ่ม7%</label>
                                    <input asp-for="vaxproduct" type="number" style="background-color:white" step="0.01" disabled />
                                    <label>มูลค่ารวมทั้งสิ้น</label>
                                    <input asp-for="sumproduct" type="number" style="background-color:white" step="0.01" disabled />
                                </div>
                            </fieldset>
                            <hr>

                            <fieldset class="col-md-4 col-sm-6">
                                <b>รายชื่อคณะกรรมการ ตรวจรับพัสดุ</b><br>

                                <input type="text" asp-for="diractor_1" placeholder="กรรมการคนที่1" />
                                
                                <input type="text" asp-for="diractor_2" placeholder="กรรมการคนที่2" value="@Model.diractor_2" style="display:@(Model.diractor_2 == "" ? "none" : "block"  )" />
                               
                                <input type="text" asp-for="diractor_3" placeholder="กรรมการคนที่3" value="@Model.diractor_3" style="display:@(Model.diractor_3 == "" ? "none" : "block"  )" />
                                

                            </fieldset>
                            <hr>
                            <fieldset class="col-md-4 col-sm-6">
                                <b>รายการเอกสารแนบการพิจารณา</b><br>
                                <input id="checkBox" name="" type="checkbox">
                                <label>ใบเสนอราคา จำนวน</label>
                                <input type="number" asp-for="quotationNum" placeholder="จำนวน" size="20" maxlength="6">
                                <label>หน้า</label>
                                <br>

                                <input id="checkBox" name="" type="checkbox">
                                <label>ขอบเขตของงาน/รายละเอียดคุณลักษณะ</label>
                                <input type="number" asp-for="scopeWork" placeholder="จำนวน">
                                <label>หน้า</label>
                                <label>*กรณีจัดซื้อจัดจ้างวงเงินตั้งเเต่ 100,000 บาทขึ้นไป</label>
                                <br>

                                <input id="checkBox" name="" type="checkbox">
                                <label>เอกสารรายชื่อนิสิตในการลงททะเบียนเรียนรายวิชาโครงงาน/ปัญหาพิเศษ จำนวน</label>
                                <input type="number" asp-for="docNum" placeholder="จำนวน">
                                <label>หน้า</label>
                                <br>

                                <input id="checkBox" name="" type="checkbox">
                                <label>เอกสารที่ได้รับอนุมัติงบประมาณ จำนวน</label>
                                <input type="number" asp-for="budgetDoc" placeholder="จำนวน">
                                <label>หน้า</label>
                                <label>*กรณีปรับแผนซื้อครุภัณฑ์</label>
                                <br>

                                <input id="checkBox" name="" type="checkbox">
                                <label>เอกสารประกอบอื่นๆ(ถ้ามี) ได้แก่</label>
                                <input type="text" asp-for="otherSupport" placeholder="ชื่อเอกสารอื่นๆ">
                                <label>จำนวน</label>
                                <input type="number" asp-for="otherSupport_num" placeholder="จำนวน">
                                <label>หน้า</label>
                                <br><br>
                                <b>ไฟล์แนบ</b> <br>
                                <input type="file" accept="application/pdf" asp-for="FilePDF" multiple>
                                <br><br>

                                <button type="button" class="button button7" id="showimage1" onclick="showimage(1)">เซ็นอนุมัติ</button><img id="signature1" src="~/img/signature/@Model.FilePath" style="display:none" /><br>
                                <button class="button button2">บันทึกร่างเอกสาร</button>
                                <button class="button button3">Export PDF</button>
                                @if (Model.id_tor == 0)
                                {
                                    <button class="button button4" type="submit">ส่งเอกสาร</button>
                                }
                                @if (Model.id_tor != 0)
                                {
                                    <button class="button button4" type="submit">แก้ไขเอกสาร</button>
                                }

                            </fieldset>
                            <!-- form_ผู้จัดซื้อ -->
                            <!-- form_ฝ่ายพัสดุ -->
                            <div class="page-section" id="form">
                                <div class="row">
                                    <div class="w3-container w3-light-blue w3-hover-text-light-grey">
                                        <h2>สำหรับฝ่ายพัสดุ</h2>
                                    </div>
                                </div>
                            </div>
                            <fieldset class="col-md-4 col-sm-8">
                                <label>ลำดับการดำเนินการจัดซื้อจัดจ้าง</label><br>
                                <label>1.</label>
                                <select name="name_select" asp-for="name_select1" onchange="ChangeTopic(1)">
                                    <option value="science">หัวหน้าภาควิชา</option>
                                    <option value="science">หัวหน้าฝ่ายสนับสนุนงานกลาง</option>
                                    <option value="science">หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา</option>
                                </select><br>
                                <label>2.</label>
                                <select name="name_select" asp-for="name_select2" onchange="ChangeTopic(2)">
                                    <option value="science">ผู้ประสารงานห้องปฏิบัติการวิทยาศาสตร์</option>
                                    <option value="science">ผู้ประสานงานหน่วยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร</option>
                                </select><br><br>

                                <label>ภาควิชา</label><br>
                                <input type="radio" asp-for="definition" value="ภาควิชา">
                                <label>ภาคปกติ</label>
                                <br>
                                <label>1.</label>
                                <input class="w3-input w3-border w3-round" type="text" value="นักวิเคราะห์นโยบายและแผนการชำระการ" disabled />
                                <br>
                                <label>2.</label>
                                <input class="w3-input w3-border w3-round" type="text" value="หัวหน้าสำนักงานเลขานุการ" disabled />
                                <br>

                                <input type="radio" asp-for="definition" value="พิเศษ">
                                <label>ภาคพิเศษ</label><br><br>
                                <label>1.</label>
                                <input class="w3-input w3-border w3-round" type="text" value="นักวิเคราะห์นโยบายและแผนการชำนานการ" disabled />
                                <br>
                                <label>2.</label>
                                <input class="w3-input w3-border w3-round" type="text" value="กรรมการและเลขานุการ" disabled />
                                <br>
                                <label>3.</label>
                                <input class="w3-input w3-border w3-round" type="text" value="ประธานกรรมการดำเนินงาน" disabled />
                                <br>


                                <button class="button button2">บันทึกร่างเอกสาร</button>
                                <button class="button button3">Export PDF</button>
                                @if (Model.id_tor == 0)
                                {
                                    <button class="button button4" type="submit">ส่งเอกสาร</button>
                                }
                                @if (Model.id_tor != 0)
                                {
                                    <button class="button button4" type="submit">แก้ไขเอกสาร</button>
                                }


                            </fieldset>
                            <!-- form_ฝ่ายพัสดุ -->
                            <!-- form_ฝ่ายอนุมัติ -->
                            <div class="page-section" id="form">
                                <div class="row">
                                    <div class="w3-container w3-cyan w3-hover-text-light-grey">
                                        <h2>สำหรับฝ่ายอนุมัติ</h2>
                                    </div>
                                </div>
                            </div>
                            <fieldset class="col-md-4 col-sm-8">
                                <h4>1.หัวหน้าภาควิชา</h4>
                                <label>ความคิดเห็น</label><br>
                                <textarea class="w3-input w3-border w3-round" name="message" id="headDescrip" cols="50" rows="6"
                                          placeholder="คำอธิบาย"></textarea><br><br>
                                <label>ลายเซ็น</label><br><br>

                                <button class="button button7">เซ็นอนุมัติ</button><br>
                                <button class="button button5">ส่งคืนเพื่อแก้ไข</button>
                                <button class="button button6">เห็นชอบ</button>
                                <br><br>

                                <h4>2.ผู้ประสารงานห้องปฏิบัติการวิทยาศาสต์</h4>
                                <label>ความคิดเห็น</label><br>
                                <textarea class="w3-input w3-border w3-round" name="message" id="sciencelabDescrip" cols="50" rows="6"
                                          placeholder="คำอธิบาย"></textarea><br><br>
                                <label>ลายเซ็น</label><br><br>

                                <button class="button button7">เซ็นอนุมัติ</button><br>
                                <button class="button button5">ส่งคืนเพื่อแก้ไข</button>
                                <button class="button button6">เห็นชอบ</button>
                                <br><br>

                                <h4>3.นักวิเคราะห์นโยบายและแผนการชำระการ</h4>
                                <label>ความคิดเห็น</label><br>
                                <textarea class="w3-input w3-border w3-round" name="message" id="analystDescrip" cols="50" rows="6"
                                          placeholder="คำอธิบาย"></textarea><br><br>
                                <label>ลายเซ็น</label><br><br>

                                <button class="button button7">เซ็นอนุมัติ</button><br>
                                <button class="button button5">ส่งคืนเพื่อแก้ไข</button>
                                <button class="button button6">เห็นชอบ</button>
                                <br><br>

                                <h4>4.หัวหน้าสำนักงานเลขานุการ</h4>
                                <label>ความคิดเห็น</label><br>
                                <textarea class="w3-input w3-border w3-round" name="message" id="secretarialDescrip" cols="50" rows="6"
                                          placeholder="คำอธิบาย"></textarea><br><br>
                                <label>ลายเซ็น</label><br><br>

                                <button class="button button7">เซ็นอนุมัติ</button><br>
                                <button class="button button5">ส่งคืนเพื่อแก้ไข</button>
                                <button class="button button6">เห็นชอบ</button>
                            </fieldset>
                            <!-- form_ฝ่ายอนุมัติ -->

                        </form>
                    </div> <!-- .contact-form -->
                </div>
                <hr>

  
            </div>

        </div>
    </div>


    @*<script src="js/addinput.js"></script>*@

</body>

</html>
<script src="js/vendor/jquery-1.10.2.min.js"></script>
<script src="js/min/plugins.min.js"></script>
<script src="js/min/main.min.js"></script>
<script>
    @{int countproduct2 = Model.Productdata != null ? Model.Productdata.Count  : 1;}
     @{int countsubject2 = Model.Subjectdata != null ? Model.Subjectdata.Count  : 1;}
    var y = @countproduct2 ;
    var x = @countsubject2;
    var listindexdelete = "";
    $(document).ready(function () {
        var max_fields = 10;
        var wrapper = $(".container1");
        var add_button = $(".add_form_field");
        var max_object = 20;
        var object = $(".container2");
        var add_object = $(".add_form_object");


        $(add_button).click(function (e) {
            e.preventDefault();
            if (x < max_fields) {
                var text = `<div id="fieldsubject[string]"><input size= 180 type="text" id="Subjectdata[[string]].Subject" name="Subjectdata[[string]].Subject" placeholder="รหัสวิชา" required/>
                                                <input type="text" id="Subjectdata[[string]].status" Name="Subjectdata[[string]].status" value="Open" style="display:none" readonly>
<button type="button" id="buttonsub[string]" class="delete" onclick="deletesubjectfield([string],'Subjectdata[[string]].status')">Delete</button>`;
                text = text.replaceAll('[string]', x.toString());
                x++;
                $(wrapper).append(text); //add input box

            } else {
                alert('You Reached the limits')
            }
        });


        $(add_object).click(function (e) {
            e.preventDefault();
            if (y < max_object) {
                console.log("index :" + y);
                var text = `<div id="field[string]">

                            <input type="text" id="Productdata[[string]].status" Name="Productdata[[string]].status"  style="display:none" readonly>

                                <label>ชื่อสินค้า</label><input type="text" id="Productdata[[string]].NameProduct" Name="Productdata[[string]].NameProduct" placeholder="บิ๊กเกอร์ 50 มล." required>
                                <label>จำนวนสินค้า</label><input type="number" id="Productdata[[string]].AmtProduct" Name="Productdata[[string]].AmtProduct" placeholder="99" value=0 required onkeypress="check_amt()"  onkeyup="check_amt()" >
                                <label>หน่วยสินค้า</label><input type="text" id="Productdata[[string]].Unit" Name="Productdata[[string]].Unit" placeholder="อัน" required>
                                <label>ราคาต่อหน่วย</label><input type="number" step="0.01"  value=0 id="Productdata[[string]].Price_Per_Piece" onkeypress="sumproductprice()"  onkeyup="sumproductprice()" Name="Productdata[[string]].Price_Per_Piece" placeholder="100" required/>
<button type="button" id="buttonproduct[string]"  class="delete" onclick="deleteproductfield([string],'Productdata[[string]].status',0)">Delete</button>
                                </div>
                                `;


                    text = text.replaceAll('[string]', y.toString());
                    y++;
                    $(object).append(text); //add input box
                } else {
                    alert('You Reached the limits')
                }
            });

        });
    function deleteproductfield(index, status,Id_Product) {
            console.log(status);
            console.log("check");
            document.getElementById(status).value = "Close";
            //$(this).parent('div').remove();
            let field_delete = document.getElementById("field" + index);
            field_delete.remove();
            const list = ["NameProduct","AmtProduct","Unit","Price_Per_Piece","status","Id_Product"];
            y--;
            console.log("PresPosition=" + y);
            for (let i = index; i < y; i++) {
                let nposition = i + 1;

                console.log("ListPosition=" + i);
                console.log("Presfield=" + nposition);
                console.log("Newfield=" + (nposition - 1));
                let presfield = document.getElementById("field" + nposition);
                presfield.setAttribute("id", "field" + (nposition - 1).toString());
                for (let j = 0; j < list.length; j++) {

                    //change index number in product
                    let presinput = document.getElementById("Productdata[" + nposition.toString() + "]." + list[j].toString());
                    console.log("Productdata[" + (nposition - 1).toString() + "]." + list[j].toString());
                    console.log("Check Error 2");
                    //change index number in id and name
                    presinput.setAttribute("id", "Productdata[" + (nposition - 1).toString() + "]." + list[j].toString());
                    presinput.setAttribute("name", "Productdata[" + (nposition - 1).toString() + "]." + list[j].toString());
                    console.log("Check Error 3");
                    //change index number in onclick
                }
                let presbutdelte = document.getElementById("buttonproduct" + nposition.toString());
                console.log("Check Error 4");
                presbutdelte.setAttribute("id", "buttonproduct" + (nposition - 1).toString());
                console.log("Check Error 5");
                presbutdelte.setAttribute("onclick", "deleteproductfield(" + (nposition - 1).toString() + ",'Productdata[" + (nposition - 1).toString() + "].status'" + ",'Productdata[" + (nposition - 1).toString() + "].Id_Product'" + ")");
                console.log("Check Error 6");

        }
       
            console.log("LastPosition=" + y);
            sumproductprice();
            if (y == 0) {
                y=1;
        }
        var indexdelete = document.getElementById(Id_Product).value;
        listindexdelete = indexdelete + "," + listindexdelete;
        if ((listindexdelete[listindexdelete.length-1]) == ",") {
            listindexdelete[listindexdelete.length-1].replace(",", "");
        }
        document.getElementById("IndexDelete").value = listindexdelete;
        console.log(listindexdelete)

        }
        function deletesubjectfield(index,status) {
            let field_delete = document.getElementById("fieldsubject" + index);
            console.log("fieldsubject" + index);
            document.getElementById(status).value = "Close";
            field_delete.remove();
            console.log("x=" + x);
            x--;
            for (i = index; i <= x; i++) {
                let nposition = i + 1;
                console.log("fieldsubject" + (i - 1));
                let presfield = document.getElementById("fieldsubject" + nposition.toString());
                presfield.setAttribute("id", "fieldsubject" + (nposition - 1).toString())

                let presinput = document.getElementById("Subjectdata[" + nposition.toString() + "].Subject");
                presinput.setAttribute("id", "Subjectdata[" + (nposition - 1).toString() + "].Subject");
                presinput.setAttribute("name", "Subjectdata[" + (nposition - 1).toString() + "].Subject");

                let presinput2 = document.getElementById("Subjectdata[" + nposition.toString() + "].status");
                presinput2.setAttribute("id", "Subjectdata[" + (nposition - 1).toString() + "].status");
                presinput2.setAttribute("name", "Subjectdata[" + (nposition - 1).toString() + "].status");

                let presbutdelete = document.getElementById("buttonsub" + nposition.toString());
                presbutdelete.setAttribute("id", "buttonsub" + (nposition - 1).toString());
                presbutdelete.setAttribute("onclick", "deletesubjectfield(" + (nposition - 1).toString() + ",'Subjectdata[" + (nposition - 1).toString() + "].status" + "')");


            }
            if (x == 0) {
                x = 1;
            }
        }


        let sumprice = 0;
        function check_amt() {
            console.log("presPosition :" + y);
            for (let i = 0; i <= y; i++) {
                var amt_product = document.getElementById("Productdata[" + i + "].AmtProduct").value;
                if (isNaN(amt_product) == true) {

                }
                if (amt_product < 0) {
                    document.getElementById("Productdata[" + i + "].AmtProduct").value = 0;
                    alert("Please input Value > 0")

                }
            }
        }
        function sumproductprice() {
            sumprice = 0;
            for (let i = 0; i < y; i++) {
                var amt_product = document.getElementById("Productdata[" + i + "].AmtProduct").value;
                var per_price = document.getElementById("Productdata[" + i + "].Price_Per_Piece").value;
                amt_product = parseInt(amt_product);
                per_price = parseFloat(per_price);
                if (isNaN(amt_product) == true || isNaN(per_price) == true) {
                    amt_product = 0;
                    per_price = 0;
                    sumprice = (sumprice + amt_product * per_price);
                    document.getElementById("sumproduct").value = parseFloat(sumprice);
                }

                else if (amt_product < 0) {
                    document.getElementById("Productdata[" + i + "].AmtProduct").value = 0;
                    alert("Please input Value > 0")

                }
                else if (per_price < 0) {

                    document.getElementById("Productdata[" + i + "].Price_Per_Piece").value = 0;
                    alert("Please input Value > 0")
                }
                else {
                    var vaxproduct = (0.07) * (sumprice + amt_product * per_price)
                    sumprice = sumprice + amt_product * per_price;
                    document.getElementById("vaxproduct").value = parseFloat(vaxproduct.toFixed(2));
                    document.getElementById("sumproduct").value = parseFloat((sumprice + vaxproduct).toFixed(2));
                }
                let check_sum = sumprice;
                console.log("Check Sum : " + check_sum);
                if (check_sum >= 10000) {
                    document.getElementById("diractor_2").style.display = "block";
                    document.getElementById("diractor_3").style.display = "block";
                }
                else if (check_sum < 10000) {

                    document.getElementById("diractor_2").style.display = "none";
                    document.getElementById("diractor_3").style.display = "none";

                }

                console.log(sumprice);


            }


        }
        function showimage(index) {
            document.getElementById("signature" + index).style.display = "block";
        }
</script>
@section Scripts{
    <script>
    function AJAXSubmit(oFormElement) {
            try {
                var form = document.getElementById("createform");
                const url = "@Url.Action("AddDataProcurement", "FormPRS")";
                const formData = new FormData(form);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData, // ดึงข้อมุลในฟอร์ม
                    contentType: false,
                    dataType: "JSON",
                    processData: false,
                    success: function (data) {

                        console.log(data);
                        if (data.status == "success") {
                            Swal.fire({
                                icon: 'success',
                                title: data.messege,
                                showConfirmButton: true,
                                confirmButtonText: 'Ok'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href ="@Url.Action("index", "FormPRS")";
                                }
                            });

                        }
                        else if (data.status == "error") {
                            Swal.fire({
                                icon: 'error',
                                title: data.errorMessage,
                                html: data.detail,
                                showConfirmButton: true,
                            });
                        }
                    },
                    error: function (err) {
                        console.log("Error", err);
                        alert("Error save fail");
                    }
                });
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>
}