@using PRS_System.Controllers
@model PRS_System.Models.FormModel.FormPRSModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="~/css/table.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

<body>

    <!-- MAIN -->
    <div class="main-content">
        <div class="container">
            <div>
                <!-- Form -->
                <div class="page-section" id="add">
                    <br>
                    <div class="container">
                        <div align="right">
                                <button class="button button5" onclick="history.back()">Back</button>
                            </div>
                        <div class="col-md-12">
                            <h2 align='center'>รายละเอียดแนบท้ายแบบขอให้ซื้อหรือจ้าง ลงวันที่ @Model.TOR_DATE.Value.ToString("dd-MM-yyyy") </h2>
                        </div>
                    </div>
                    <div class="container">
                        <h4 align='center'>งาน    [@(Model.type_PRS =="ขอซื้อ" ? "✓" : "") ]จัดซื้อ [ @(Model.type_PRS =="ขอจ้าง" ? "✓" : "") ]จัดจ้าง   จำนวน @Model.Productdata.Count รายการ </h4><br>
                        <table id="customers" align='center'>
                            <thead>
                                <tr>
                                    <th rowspan="2">ลำดับ</th>
                                    <th rowspan="2">รายละเอียดวัสดุที่จะซื้อ/จ้าง</th>
                                    <th rowspan="2">จำนวน</th>
                                    <th rowspan="2">หน่วยนับ</th>
                                    <th rowspan="2">[  ] ราคามาตราฐาน <br> [  ] ราคาที่ได้มาจากการสืบราคาท้องตลาด <br> (หน่วยละ) </th>
                                    <th colspan="2">จำนวนและวงเงินที่ขอซื้อครั้งนี้<br></th>
                                </tr>
                                <tr>
                                    <td colspan="1">หน่วยละ</td>
                                    <td colspan="1">จำนวนเงิน</td>
                                </tr>
                            </thead>
                        @{int countproduct = Model.Productdata != null ? Model.Productdata.Count : 0;}
                                    @for (int i = 0; i < countproduct; i++)
                                    { 

                                        <tr>
                                            <td>@(i+1)</td>
                                            <td>@Model.Productdata[i].NameProduct</td>
                                            <td>@Model.Productdata[i].AmtProduct</td>
                                            <td>@Model.Productdata[i].Unit</td>
                                            <td>@Model.Productdata[i].Price_Per_Piece</td>
                                            <td>บาท</td>
                                            @*<td></td>
                                            <td></td>*@
                                        <td>@Convert.ToDecimal(Model.Productdata[i].AmtProduct * Model.Productdata[i].Price_Per_Piece).ToString("###,###,##0.00")</td>

                                        </tr>
                                    
                                        
                                    }
                            
                            <tr>
                                <td colspan="6">รวมเป็นเงินทั้งสิ้น(@Model.number_string)</td>
                                @*<td></td>*@
                            <td>@Convert.ToDecimal(Model.sumproduct).ToString("###,###,##0.00")</td>
                            </tr>
                        </table><br><br><br><br>

                        <p align='center'>ลงชื่อ <img id="signature1" src="~/img/signature/@Model.FilePath" /></p>
                        <p align='center'>(@Model.nameProcument)</p>
                        <p align='center'>ตำแหน่ง @Model.type_user_operation</p>
                        <p align='center'>วันที่ @Model.TOR_DATE.Value.ToString("dd-MM-yyyy")</p>



                    </div> <!-- .contact-form -->
                </div>
                <hr>

                <button class="button button3" onclick="printpdf()" id="print_pdf">Export PDF</button>
            </div>

        </div>
    </div>

    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/min/plugins.min.js"></script>
    <script src="js/min/main.min.js"></script>
    <script src="js/addinput.js"></script>
    @section Scripts{
    <script type="text/javascript">
        function printpdf(){
            $("#print_pdf").hide();
            $("#footer").hide();
            window.print();
            $("#print_pdf").show();
            $("#footer").show();
        }
    </script>
    }

</body>
</html>
