@using Microsoft.AspNetCore.Http
@using PRS_System.Controllers
@model PRS_System.Models.FormModel.FormPRSModel
@{
    Layout = "_BlankLayout";

    var TOR_DATE = @Model.TOR_DATE.ToString().Split(" ");

    //var nameProcument = @Model.nameProcument.Split(" ");

    string bahtTxt, n, bahtTH = "";
    double amount;
    try
    {
        amount = Convert.ToDouble(@Model.sumproduct);
    }
    catch
    {
        amount = 0;
    }
    bahtTxt = amount.ToString("####.00");
    string[] num = { "ศูนย์", "หนึ่ง", "สอง", "สาม", "สี่", "ห้า", "หก", "เจ็ด", "แปด", "เก้า", "สิบ" };
    string[] rank = { "", "สิบ", "ร้อย", "พัน", "หมื่น", "แสน", "ล้าน" };
    string[] temp = bahtTxt.Split('.');
    string intVal = temp[0];
    string decVal = temp[1];
    if (Convert.ToDouble(bahtTxt) == 0)
    {
        bahtTH = "ศูนย์บาทถ้วน";
    }

    else
    {
        for (int i = 0; i < intVal.Length; i++)
        {
            n = intVal.Substring(i, 1);
            if (n != "0")
            {
                if ((i == (intVal.Length - 1)) && (n == "1"))
                    bahtTH += "เอ็ด";
                else if ((i == (intVal.Length - 2)) && (n == "2"))
                    bahtTH += "ยี่";
                else if ((i == (intVal.Length - 2)) && (n == "1"))
                    bahtTH += "";
                else
                    bahtTH += num[Convert.ToInt32(n)];
                bahtTH += rank[(intVal.Length - i) - 1];
            }
        }
        bahtTH += "บาท";
        if (decVal == "00")
        {
            bahtTH += "ถ้วน";
        }
        else
        {
            for (int i = 0; i < decVal.Length; i++)
            {
                n = decVal.Substring(i, 1);
                if (n != "0")
                {
                    if ((i == decVal.Length - 1) && (n == "1"))
                    {
                        bahtTH += "เอ็ด";
                    }
                    else if ((i == (decVal.Length - 2)) && (n == "2"))
                    {
                        bahtTH += "ยี่";
                    }
                    else if ((i == (decVal.Length - 2)) && (n == "1"))
                    {
                        bahtTH += "";
                    }
                    else
                    {
                        bahtTH += num[Convert.ToInt32(n)];
                    }
                    bahtTH += rank[(decVal.Length - i) - 1];
                }
            }
            bahtTH += "สตางค์";
        }
    }
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="~/css/table.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<body>

    <!-- MAIN -->
    <div class="main-content">
        <div class="container">
            <div>
                <!-- Form -->
                <div class="page-section" id="add">
                    <div class="row">
                        <div align="right">
                                <button class="button button5" onclick="history.back()">Back</button>
                        </div>
                        <div class="col-md-12">
                            <h1 align="center">แบบขอให้ซื้อหรือจ้าง</h1>
                        </div>
                    </div>
                    <div class="container">
                        <p style="margin-left:70%; text-align:center">รหัสสำหรับห้องปฏิบัติการวิทยาศาสตร์</p>
                        <p style="border: 1px solid; margin-left:70%; text-align:center"> @Model.idRoom </p>

                        <p style="margin-left:65%">วันที่ @TOR_DATE[0]</p><br>

                        <label>เรื่อง @Model.nameProcument</label>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ด้วยข้าพเจ้า @Model.own_name ตำแหน่ง @Model.own_operate มีความประสงค์@Model.nameProcument ตามรายการข้างล่าง โดยมีเหตุผลจำเป็นดังนี้</p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
                        @if (Model.Subjectdata.Count != 0)
                        {
                            <input id="checkBox" name="" type="checkbox" checked disabled>
                            <label>เพื่อใช้สนับสนุนการเรียนการสอน ดังนี้</label>
                            <br>
                            foreach(var sub in Model.Subjectdata)
                            {
                                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp- รายวิชา @sub.Subject</label><br />
                            }
                        }
                        else
                        {
                            <input id="checkBox" name="" type="checkbox" disabled>
                            <label>เพื่อใช้สนับสนุนการเรียนการสอน ดังนี้</label>
                            <br>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp-</label><br />
                        }

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        @if(Model.type_assitst == "โครงการ" || Model.type_assitst == "โครงงาน" || Model.type_assitst == "ปัญหาพิเศษ")
                        {
                            <input id="checkBox" name="" type="checkbox" checked disabled>
                        }
                        else
                        {
                            <input id="checkBox" name="" type="checkbox" disabled>
                        }
                        <label>เพื่อใช้สนับสนุนสำหรับ</label>

                        @if(Model.type_assitst == "โครงการ")
                        {
                            <input type="radio" checked disabled>
                        }
                        else
                        {
                            <input type="radio" disabled>
                        }
                        <label>โครงการ</label>

                        @if(Model.type_assitst == "โครงงาน")
                        {
                            <input type="radio" checked disabled>
                        }
                        else
                        {
                            <input type="radio" disabled>
                        }
                        <label>โครงงาน</label>

                        @if(Model.type_assitst == "ปัญหาพิเศษ")
                        {
                            <input type="radio" checked disabled>
                        }
                        else
                        {
                            <input type="radio" disabled>
                        }
                        <label>ปัญหาพิเศษ</label>

                        @if (Model.type_assitst == "โครงการ" || Model.type_assitst == "โครงงาน" || Model.type_assitst == "ปัญหาพิเศษ")
                        {
                            <label>เรื่อง @Model.detail_assist</label><br>
                        }
                        else
                        {
                            <label>เรื่อง.....................................................................................................................................</label><br>
                        }
                        

                        <label>ซึ่งเป็นงานที่</label> 
                        @if (Model.supportType == "ได้รับทุนสนับสนุนจาก")
                        {
                            <input type="radio" checked disabled>
                            <label>ได้รับทุนสนับสนุนจากแหล่งทุน @Model.desc_assist1</label>
                        }
                        else
                        {
                            <input type="radio" disabled>
                            <label>ได้รับทุนสนับสนุนจากแหล่งทุน.............................................................................................................................................................................................</label>
                        }
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @if (Model.supportType != "ได้รับทุนสนับสนุนจาก" || Model.supportType != "เหตุผลอื่นๆ")
                        {
                            <input type="radio" checked disabled>
                        }
                        else
                        {
                            <input type="radio" disabled>
                        }
                        <label>ไม่ได้รับทุนสนับสนุนจากแหล่งทุนใดๆ</label>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        @if (Model.supportType == "เหตุผลอื่นๆ")
                        {
                            <input type="radio" checked disabled>
                            <label>เหตุผลอื่นๆ @Model.desc_assist2</label>
                        }
                        else
                        {
                            <input type="radio" disabled>
                            <label>เหตุผลอื่นๆ..................................................................................................................................................................................................................................</label>
                        }
                        
                        <table id="customers" align="center">
                            <thead>
                                <tr>
                                    <th rowspan="2" width="10%" style="text-align:center">ลำดับที่</th>
                                    <th rowspan="2" width="50%" style="text-align:center">รายการ</th>
                                    <th rowspan="2" width="10%" style="text-align:center">จำนวน</th>
                                    <th rowspan="2" width="10%" style="text-align:center">จำนวนนับ</th>
                                    <th colspan="2" width="20%" style="text-align:center">ราคา<br></th>
                                </tr>
                                <tr>
                                    <td style="text-align:center">ต่อหน่วย (บาท)</td>
                                    <td style="text-align:center">รวม (บาท)</td>
                                </tr>
                            </thead>
                            @{
                                double all_sum = 0;
                                int countproduct = Model.Productdata != null ? Model.Productdata.Count : 0;
                                for (int i = 0; i < countproduct; i++)
                                {
                                    var item = Model.Productdata.ToList()[i];
                                    <tr>
                                        <td style="text-align:center">@(i+1)</td>
                                        <td>@item.NameProduct</td>
                                        <td style="text-align:center">@item.AmtProduct</td>
                                        <td style="text-align:center">@item.Unit</td>
                                        <td style="text-align:center">@item.Price_Per_Piece</td>
                                        @{
                                            var sum = item.AmtProduct * item.Price_Per_Piece;
                                            all_sum += sum;
                                        }
                                        <td style="text-align:right">@Convert.ToDecimal(sum).ToString("###,###,##0.00")</td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="2" style="text-align:center">รวมเป็นเงินทั้งสิ้น</td>
                                <td style="text-align:right">@Convert.ToDecimal(all_sum).ToString("###,###,##0.00")</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="2" style="text-align:center">(ภาษีมูลค่าเพิ่ม 7 %)</td>
                                <td style="text-align:right">@Convert.ToDecimal(Model.vaxproduct).ToString("###,###,##0.00")</td>
                            </tr>
                            <tr>
                                <td style="text-align:center">ตัวอักษร</td>
                                <td colspan="2" style="text-align:center">(@bahtTH)</td>

                                <td colspan="2" style="text-align:center">รวมทั้งสิ้น</td>
                                <td style="text-align:right">@Convert.ToDecimal(Model.sumproduct).ToString("###,###,##0.00")</td>
                            </tr>
                        </table><br>

                        <p style="margin-left:65%; text-align:center"><img src="~/img/signature/@Model.own_esign" height=50px /></p>
                        <p style="margin-left:65%; text-align:center">(@Model.own_name)</p>
                        <p style="margin-left:65%; text-align:center">ตำแหน่ง @Model.own_operate</p>

                        <table id="customers" width="100%">
                            <tr>
                                <th>การแต่งตั้งผู้ตรวจรับพัสดุ/คณะกรรมการตรวจรับพัสดุ</th>
                            </tr>
                            <tr>
                                @if (Model.sumproduct > 10000)
                                {
                                    <td>
                                        1. @Model.diractor_1<br>
                                        2. @Model.diractor_2<br>
                                        3. @Model.diractor_3<br>
                                        *กรณีการจัดซื้อจัดจ้างวงเงินตั้งเเต่ 10,000 บาท ต้องมีคณะกรรมการตรวจรับพัสดุจำนวน 3 ท่าน
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        1.@Model.diractor_1<br>
                                        *กรณีการจัดซื้อจัดจ้างวงเงินตั้งเเต่ 10,000 บาท ต้องมีคณะกรรมการตรวจรับพัสดุจำนวน 3 ท่าน
                                    </td>
                                }
                            </tr>
                            <tr>
                                <th>เอกสารแนบการพิจารณา</th>
                            </tr>
                            <tr>
                                <td>
                                    @if (Model.quotationNum != 0)
                                    {
                                        <input id="checkBox" name="" type="checkbox" checked disabled>
                                        <label>ใบเสนอราคาจำนวน @Model.quotationNum ราย</label>
                                    }
                                    else
                                    {
                                        <input id="checkBox" name="" type="checkbox" disabled>
                                        <label>ใบเสนอราคาจำนวน..........ราย</label>
                                    }
                                    <br>
                                    @if (Model.scopeWork != 0)
                                    {
                                        <input id="checkBox" name="" type="checkbox" checked disabled>
                                        <label>
                                            ขอบเขตของงาน/รายระเอียดคุณลักษณะ จำนวน @Model.scopeWork หน้า
                                            (*กรณีการจัดซื้อจัดจ้างวงเงินตั้งเเต่ 10,000 บาท)
                                        </label>
                                    }
                                    else
                                    {
                                        <input id="checkBox" name="" type="checkbox" disabled>
                                        <label>
                                            ขอบเขตของงาน/รายระเอียดคุณลักษณะ จำนวน................หน้า
                                            (*กรณีการจัดซื้อจัดจ้างวงเงินตั้งเเต่ 10,000 บาท)
                                        </label>
                                    }
                                    <br>
                                    @if (Model.scopeWork != 0)
                                    {
                                        <input id="checkBox" name="" type="checkbox" checked disabled>
                                        <label>
                                            เอกสารรายชื้อนิสิตในการลงทะเบียนเรียนรายวิชาโครงงาน/ปัญหาพิเศษ
                                            จำนวน @Model.prsnum หน้า
                                        </label>
                                    }
                                    else
                                    {
                                        <input id="checkBox" name="" type="checkbox" disabled>
                                        <label>
                                            เอกสารรายชื้อนิสิตในการลงทะเบียนเรียนรายวิชาโครงงาน/ปัญหาพิเศษ
                                            จำนวน................หน้า
                                        </label>
                                    }
                                    <br>
                                    @if (Model.budgetDoc != 0)
                                    {
                                        <input id="checkBox" name="" type="checkbox" checked disabled>
                                        <label>
                                            เอกสารที่ได้รับอนุมัติงบประมาณ จำนวน @Model.budgetDoc หน้า
                                            (*กรณีการปรับแผนซื้อครุภัณฑ์)
                                        </label>
                                    }
                                    else
                                    {
                                        <input id="checkBox" name="" type="checkbox" disabled>
                                        <label>
                                            เอกสารที่ได้รับอนุมัติงบประมาณ จำนวน................หน้า
                                            (*กรณีการปรับแผนซื้อครุภัณฑ์)
                                        </label>
                                    }
                                    <br>
                                    @if (Model.otherSupport_num != 0)
                                    {
                                        <input id="checkBox" name="" type="checkbox" checked disabled>
                                        <label>
                                            เอกสารประกอบอื่นๆ (ถ้ามี)
                                            ได้แก่ @Model.otherSupport จำนวน @Model.otherSupport_num หน้า
                                        </label>
                                    }
                                    else
                                    {
                                        <input id="checkBox" name="" type="checkbox" disabled>
                                        <label>
                                            เอกสารประกอบอื่นๆ (ถ้ามี)
                                            ได้แก่.............................................................................................................จำนวน................หน้า
                                        </label>
                                    }
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <th>ลำดับการดำเนินการขอจัดซื้อจัดจ้าง</th>
                            </tr>
                            <tr>
                                @if (Model.des_approval != null)
                                {
                                    <td>
                                        1) หัวหน้าภาควิชา/หัวหน้าฝ่ายสนับสนุนงานกลาง/หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา<br>
                                        @Model.des_approval<br>
                                        <p style="text-align:center">
                                            <img src="~/img/signature/@Model.esign_approval" height=50px /><br>
                                            (@Model.name_approval)<br>
                                            หัวหน้าภาควิชา/หัวหน้าฝ่ายสนับสนุนงานกลาง/หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา
                                        </p>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        1) หัวหน้าภาควิชา/หัวหน้าฝ่ายสนับสนุนงานกลาง/หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา<br>
                                        .................................................................................................................................................................................................................................................................................<br>
                                        .................................................................................................................................................................................................................................................................................<br>
                                        <p style="text-align:center">
                                            ...............................................................................<br>
                                            (...............................................................................)<br>
                                            หัวหน้าภาควิชา/หัวหน้าฝ่ายสนับสนุนงานกลาง/หัวหน้าฝ่ายบริการและพัฒนาคุณภาพการศึกษา
                                        </p>
                                    </td>
                                }
                            </tr>
                            <tr>
                                @if (Model.des_approval2 != null)
                                {
                                    <td>
                                        2) ผู้ประสารงานห้องปฏิบัติการวิทยาศาสตร์/ผู้ประสานงานหน่อยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร<br>
                                        @Model.des_approval2<br>
                                        <p style="text-align:center">
                                            <img src="~/img/signature/@Model.esign_approval2" height=50px /><br>
                                            (@Model.name_approval2)<br>
                                            ผู้ประสารงานห้องปฏิบัติการวิทยาศาสตร์/ผู้ประสานงานหน่อยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร
                                        </p>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        2) ผู้ประสารงานห้องปฏิบัติการวิทยาศาสตร์/ผู้ประสานงานหน่อยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร<br>
                                        .................................................................................................................................................................................................................................................................................<br>
                                        .................................................................................................................................................................................................................................................................................<br>
                                        <p style="text-align:center">
                                            ...............................................................................<br>
                                            (@Model.name_approval2)<br>
                                            ผู้ประสารงานห้องปฏิบัติการวิทยาศาสตร์/ผู้ประสานงานหน่อยสนับสนุนเทคโนโลยีสารสนเทศและสื่อสาร
                                        </p>
                                    </td>
                                }
                            </tr>
                        </table>
                        @if (Model.definition == "ปกติ")
                        {
                            <table id="customers" width="100%">
                                <tr>
                                    <th colspan="2">ภาคปกติ</th>
                                </tr>
                                <tr>
                                    @if (Model.des_approval3 != null)
                                    {
                                        <td width="50%">
                                            1) เรียนคณบดี <br>
                                            @Model.des_approval3<br>
                                            <p style="text-align:center">
                                                <img src="~/img/signature/@Model.esign_approval3" height=50px /><br>
                                                (@Model.name_approval3)<br>
                                                นักวิเคราะนโยบายและแผนชำนาญการ<br>
                                                @{
                                                    var date_app3 = @Model.date_approval3.ToString().Split(" ");
                                                }
                                                (@date_app3[0])
                                            </p>
                                        </td>
                                    }
                                    else
                                    {
                                        <td width="50%">
                                            1) เรียนคณบดี <br>
                                            ......................................................................................................................................<br>
                                            ......................................................................................................................................<br>
                                            ......................................................................................................................................<br>
                                            <p style="text-align:center">
                                                ..........................................................<br>
                                                (@Model.name_approval3)<br>
                                                นักวิเคราะนโยบายและแผนชำนาญการ<br>
                                                (.........../.........../...........)
                                            </p>
                                        </td>
                                    }
                                    @if (Model.des_approval4 != null)
                                    {
                                        <td width="50%">
                                            2) เรียนคณบดี<br>
                                            @Model.des_approval4<br>
                                            <p style="text-align:center">
                                                <img src="~/img/signature/@Model.esign_approval4" height=50px /><br>
                                                (@Model.name_approval4)<br>
                                                หัวหน้าสำนักงานเลขานุการ<br>
                                                @{
                                                    var date_app4 = @Model.date_approval4.ToString().Split(" ");
                                                }
                                                (@date_app4[0])
                                            </p>
                                        </td>
                                    }
                                    else
                                    {
                                        <td width="50%">
                                            2) เรียนคณบดี<br>
                                            ......................................................................................................................................<br>
                                            ......................................................................................................................................<br>
                                            ......................................................................................................................................<br>
                                            <p style="text-align:center">
                                                ..........................................................<br>
                                                (@Model.name_approval4)<br>
                                                หัวหน้าสำนักงานเลขานุการ<br>
                                                (.........../.........../...........)
                                            </p>
                                        </td>
                                    }
                                </tr>
                            </table>
                        }
                        @if (Model.definition == "พิเศษ")
                        {
                            <table id="customers" width="100%">
                                <tr>
                                    <th colspan="3">ภาคพิเศษ</th>
                                </tr>
                                <tr>
                                    @if (Model.des_approval3 != null)
                                    {
                                        <td width="33.33%">
                                            1) เรียนประธานกรรมการฯ<br>
                                            @Model.des_approval3<br>
                                            <p style="text-align:center">
                                                <img src="~/img/signature/@Model.esign_approval3" height=50px /><br>
                                                (@Model.name_approval3)<br>
                                                นักวิเคราะนโยบายและแผนชำนาญการ<br>
                                                (@Model.date_approval3)
                                            </p>
                                        </td>
                                    }
                                    else
                                    {
                                        <td width="33.33%">
                                            1) เรียนประธานกรรมการฯ<br>
                                            .......................................................................................<br>
                                            .......................................................................................<br>
                                            .......................................................................................<br>
                                            <p style="text-align:center">
                                                ..........................................................<br>
                                                (@Model.name_approval3)<br>
                                                นักวิเคราะนโยบายและแผนชำนาญการ<br>
                                                (.........../.........../...........)
                                            </p>
                                        </td>
                                    }

                                    @if (Model.des_approval4 != null)
                                    {
                                        <td width="33.33%">
                                            2) เรียนประธานกรรมการฯ<br>
                                            @Model.des_approval4<br>
                                            <p style="text-align:center">
                                                <img src="~/img/signature/@Model.esign_approval4" height=50px /><br>
                                                (@Model.name_approval4)<br>
                                                หัวหน้าสำนักงานเลขานุการ<br>
                                                (@Model.date_approval4)
                                            </p>
                                        </td>
                                    }
                                    else
                                    {
                                        <td width="33.33%">
                                            2) เรียนประธานกรรมการฯ<br>
                                            .......................................................................................<br>
                                            .......................................................................................<br>
                                            .......................................................................................<br>
                                            <p style="text-align:center">
                                                ..........................................................<br>
                                                (@Model.name_approval4)<br>
                                                หัวหน้าสำนักงานเลขานุการ<br>
                                                (.........../.........../...........)
                                            </p>
                                        </td>
                                    }

                                    @if (Model.des_approval5 != null)
                                    {
                                        <td width="33.33%">
                                            3) เรียนคณบดี<br>
                                            @Model.des_approval5<br>
                                            <p style="text-align:center">
                                                <img src="~/img/signature/@Model.esign_approval5" height=50px /><br>
                                                (@Model.name_approval5)<br>
                                                ประธานกรรมการดำเนินงานฯ<br>
                                                (@Model.date_approval5)
                                            </p>
                                        </td>
                                    }
                                    else
                                    {
                                        <td width="33.33%">
                                            3) เรียนคณบดี<br>
                                            .......................................................................................<br>
                                            .......................................................................................<br>
                                            .......................................................................................<br>
                                            <p style="text-align:center">
                                                ..........................................................<br>
                                                (@Model.date_approval5)<br>
                                                ประธานกรรมการดำเนินงานฯ<br>
                                                (.........../.........../...........)
                                            </p>
                                        </td>
                                    }
                                    }
                                </tr>

                            </table>
                        }


                        <button class="button button3" onclick="printpdf()" id="print_pdf">Export PDF</button>



                    </div> <!-- .contact-form -->
                </div>
                <hr>

                @*<div class="row" id="footer">
                    <div class="col-md-12 text-center">
                    <p class="copyright-text">Faculty Science &copy; Kasatsart University Sriracha campas</p>
                    </div>
                    </div>*@
            </div>

        </div>
    </div>

    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/min/plugins.min.js"></script>
    <script src="js/min/main.min.js"></script>
    <script src="js/addinput.js"></script>
    @section Scripts{
    <script type="text/javascript">
        function printpdf(){
            $("button").hide();
            $("hr").hide();
            $("#footer").hide();
            window.print();
            $("button").show();
            $("hr").show();
            $("#footer").show();
        }
    </script>
    }

</body>
</html>